a.edit{height:30px;width:30px;margin-top:-20px;margin-right:-20px;padding-top:10px;padding-left:10px;z-index:10;color:#cccccc}
.icon-facebook-sign{color:#3662A0}
.clickable{position:relative}
body{padding-top:50px;font-family:MicrosoftYaHei,'微软雅黑','Hiragino Sans GB',"WenQuanYi Micro Hei",Arial,Tahoma,Helvetica,Georgia,STXihei,'华文黑体',Hei,'Hiragina Kaku Gothic Pro',SimSun;font-size:1em}
.sp-reports-sidebar{line-height:1em;padding:0px;min-width:160px}
.fade-hide-setup{opacity:1}
.fade-hide-setup,.fade-show-setup{-webkit-transition:all cubic-bezier(.25, .46, .45, .94) .5s;-moz-transition:all cubic-bezier(.25, .46, .45, .94) .5s;-o-transition:all cubic-bezier(.25, .46, .45, .94) .5s;transition:all cubic-bezier(.25, .46, .45, .94) .5s}
.icon-google-plus-sign{color:#D74634}
.icon-twitter{color:#00A7E7}
.sp-reports-sidebar.affix{left:20px}
.fill-clickable{position:absolute;width:100%;height:100%;text-decoration:none}
.fade-hide-setup.fade-hide-start{opacity:0}
#userInfo{float:right;padding:8px}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none}
html,body{font-size:1em;height:100%}
.bold{font-weight:bold}
.sp-reports-sidenav{width:100%;line-height:1em;background-color:#fff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:0px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);box-shadow:0 1px 4px rgba(0,0,0,0.065)}
.double-line-height{line-height:2em}
.fade-show-setup.fade-show-start{opacity:1}
.fade-show-setup{opacity:0}
.footer{background:#f2f2f2;bottom:-73px;height:75px;left:0;position:absolute;right:0;background-image:-ms-linear-gradient(top, #9b9b9b 0, #f2f2f2 5%, #f2f2f2 100%);background-image:-moz-linear-gradient(top, #9b9b9b 0, #f2f2f2 5%, #f2f2f2 100%);background-image:-o-linear-gradient(top, #9b9b9b 0, #f2f2f2 5%, #f2f2f2 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #9b9b9b), color-stop(.1, #f2f2f2), color-stop(1, #f2f2f2));background-image:-webkit-linear-gradient(top, #9b9b9b 0, #f2f2f2 5%, #f2f2f2 100%);background-image:linear-gradient(to bottom, #9b9b9b 0, #f2f2f2 5%, #f2f2f2 100%)}
.sp-container{min-height:100%;position:relative}
.card{margin-top:0}
.navbar{margin-bottom:0}
