/*
 * SpruceQuizJunior v0.0.1
 * app.less
 * Copyright 2013 SpruceLearning Inc.
 * author Ge Yang
 *
 * Designed and built with all the love and passion by @episodeyang
 */

// Mixins Libraries
@import "elements.less";
@import "mixins.less";
@import "navbar.less";

#cover {
  position:absolute;
  height:100%;
  width:100%;
  background: white;
}
.background {
  position:absolute;
  top:0;
  height:100%;
  width:100%;
  background: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}





