@import "elements.less";
@import "mixins.less";
@import "variables.less";

//@import "media.less";

.modal-content {
  .unit.name {
    position: relative;
    float: none!important;
    bottom: -15px;
    height: 60px;
  }
  .name {
    color: darkred;
  }
}

