@import "elements.less";
@import "mixins.less";

nav.navbar.navbar-inverse.navbar-fixed-top {
  width: 100%;
  background-color: #604830 !important;
  height: 44px;
  .container {
    height: 44px;
    .navbar-header {
      height: 44px;
    }
  }
}
a.navbar-brand {
  height: 44px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
  color: @white-light !important;
  &:hover {
    color: @white-moderate;
  }
}
.navbar-nav > li > a {
  color: @white-light !important;
  padding-top:12px !important;
  padding-bottom:12px !important;
}
.navbar {min-height:44px !important}
li.dropdown > a {padding-top: 13px; vertical-align: middle;}
ul.nav.navbar-nav {
  >li >a {
    .transition(all 0.15s ease);
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 14px;
    span.glyphicon {
      .transition(all 0.15s ease);
      margin-top:2px;
      color: @white-light;
    }
  }
  >li:hover>a {
    color: @white !important;
    span {
      color: @white !important;
    }
  }
  .dropdown-menum>li>a {
    color: grey!important;
  }
}


.navbar-collapse {
  background-color: #604830;
  border-color: #604830;
}

.no-left-padding {
  padding-left: 0px ;//!important;
}
.no-right-padding {
  padding-right: 0px ;//!important;
}
