@import "elements.less";
@import "mixins.less";
@import "variables.less";

//@import "media.less";

.panel.panel-info {
  border: 0 none transparent;
  .panel-heading {
    border: 0 none transparent;
    cursor: hand;
    .pull-right.fa, .btn-close {
      margin-right:-7px;
      margin-top: 2px;
      font-size: 1.0em;
      line-height: 1.1em;
      opacity: 0;
      float: right !important;
      .transition(all 0.3s ease);
    }
    &:hover {
      .pull-right.fa, .btn-close {
        opacity: 1;
      }
    }
  }
  .table {
    color: grey;
    cursor: hand;
    font-size: 1em;
    tr {
//      a, span {
//        color: grey;
//      }
      span.glyphicon {
        line-height: 1.3em;
        color: transparent;
        height: 0px;
        margin-top: -0.05em;
        .transition(all 0.3s ease);
      }
    }
    tr:hover {
      span.glyphicon {
        color: grey;
      }

    }
  }
}

textarea.fill.tall {
  padding: 15px;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}

textarea {
  border-color: transparent;
}

.panel-body.no-padding {
  padding: 0;
}