student-exam-viz svg {
  height: 400px !important;
}


.viz-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

}

.input-wrapper {
  padding-left: 20px;
  margin-left: 20px;
}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

line {
  stroke: black;
}

text {
  font-family: Arial;
  font-size: 9pt;
}

#ranking {
  height:100%;
}