//- Created by: Ge
//- Date: 10/23/13 6:48 AM

mixin navbar
    nav.navbar.navbar-inverse.navbar-fixed-top(id='navbar', role='banner')
        //Brand and toggle get grouped for better mobile display
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle="collapse", data-target='#navbar', ng-click='isCollapsed = !isCollapsed')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') 游子问中学
            //Collect the nav links, forms, and other content for toggling
            //.collapse.navbar-collapse.navbar-ex1-collapse
            .visible-xs(collapse='!isCollapsed')
                ul.nav.navbar-nav
                    li(data-access-level='{{ accessLevels.superadmin }}', active-nav,ng-hide='!isCollapsed')
                        a(href='/development', ng-click='isCollapsed=!isCollapsed') 开发
                    li(data-access-level='{{ accessLevels.loggedin}}', active-nav,ng-hide='!isCollapsed')
                        a(href="/", data-ng-click="logout()")
                            | 登出
            .hidden-xs
                ul.nav.navbar-nav
                    li(data-access-level='{{ accessLevels.superadmin }}', active-nav)
                        a(href='/superadmin') 后台管理
                    li(data-access-level='{{ accessLevels.superadmin }}', active-nav)
                        a(href='/development') 开发
                ul.nav.navbar-nav.navbar-right
                    //li(data-access-level='{{ accessLevels.anon }}', active-nav)
                        a(href='/register') 注册
                    li.dropdown(data-access-level="{{ accessLevels.loggedin}}", active-nav)
                        a.dropdown-toggle(data-toggle='dropdown') {{ user.username }}
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="", data-ng-click="logout()")
                                    | 登出

