include mixins/navbar
include mixins/footer
link(href='/css/questions.css', rel="stylesheet")
link(href='/css/timeline.css', rel="stylesheet")
link(href='/css/feed.css', rel="stylesheet")
link(href='/css/editor.css', rel="stylesheet")
link(href='/css/card.css', rel="stylesheet")
link(href='/css/panel.css', rel="stylesheet")
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body(konami='debug.alert()')
    +navbar
    .alert-box(ng-show='error', ng-click="errorClear()")
        p.title {{error.title || error}}
            a.pull-right.small(ng-if="error.details", ng-click="view.error.show=show") 细节
        .details(ng-hide='view.error.show')
            p {{error.details}}
    .container
        .row
            .col-sm-7.col-sm-offset-2.col-xs-12
                ul.nav.nav-pills
                    li
                        a(ng-href='/home')
                            span.glyphicon.glyphicon-home
                    li.pull-right
                        a 待回答
                    li.pull-right
                        a 用户
                    li.pull-right
                        a 分类
                    li.pull-right
                        a(ng-href='/questions') 问题
        .row
            .col-sm-2.col-xs-3
                ul.nav.sp-nav.nav-pills.nav-stacked
                    //li(ng-class="{active: view.state=='info'}")
                        a.text-center(ng-click="view.state='info'") 信息
                    li(ng-class="{active: view.state=='newsFeed'}")
                        a.text-center(ng-click="view.state='newsFeed'") 新鲜事
                    li(ng-class="{active: view.state=='questions'}")
                        a.text-center(ng-click="view.state='questions'") 相关问题
                    li(ng-class="{active: view.state=='ask'}")
                        a.text-center(ng-click="view.state='ask'") 提问
            .col-sm-7.col-xs-9
                div(ng-if="view.state==='newsFeed' || view.state==='info'")
                    .row
                        .col-xs-12
                            div
                                flip(flipped='view.card.flipped').no-bottom-margin
                                    flip-front.card.convex.no-top-margin
                                        div.img-block.image
                                            img(ng-src="{{Model.book.coverUrl}}")
                                        div.img-block-body
                                            .card-title.bottom-margin
                                                span.name {{Model.book.title}}
                                                span.signature(ng-repeat="author in Model.book.authors") , {{author.name.split(',').reverse().join(' ') || ''}}
                                            .row
                                                .col-sm-3.col-sm-push-9.col-xs-12
                                                    div.clickable.info-button-dropdown.text-strip.pull-right
                                                        a(ng-click='view.card.flipped=true')
                                                            span.glyphicon.glyphicon-arrow-right.no-padding
                                                            span.end 更多信息
                                                        div.drop-down
                                                            p 详情
                                                            p 目录
                                                            p 知识树
                                                .col-sm-9.col-sm-pull-3.col-xs-12
                                                    div.text-strip
                                                        span.glyphicon.glyphicon-user
                                                        span {{Model.book.metaData.publisher}}
                                                        span.end {{Model.book.metaData.yearOfPublication}}年
                                                    div.text-strip
                                                        span.glyphicon.glyphicon-book
                                                        span(ng-repeat="tag in Model.book.tags")
                                                            a(ng-href="/tag/{{tag}}") {{tag}}
                                                    div.text-strip
                                                        span.glyphicon.glyphicon-book
                                                        span 问题 14
                                                        span 回答 265
                                                        span.end 编辑 3
                                    flip-back.card.convex.no-top-margin
                                        .card-title.bottom-margin
                                            span.name(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.title", placeholder="标题...")
                                            span.signature(ng-repeat-start="author in Model.book.authors") ，
                                            span.signature(ng-repeat-end, inline-editable, contenteditable="{{view.card.edit}}", ng-model="author.name", placeholder="作者...")
                                            span.edit.pull-right.fa.fa-pencil(ng-hide="view.card.edit", ng-click="editBook()")
                                            span.edit.pull-right.fa.fa-check(ng-show="view.card.edit", ng-click="submitBook()")
                                            span.edit.pull-right.fa.fa-times(ng-show="view.card.edit", ng-click="view.card.edit = false")
                                        .row
                                            .col-xs-12
                                                .clickable.text-strip(ng-click="view.card.flipped=false")
                                                    span.pull-right 返回
                                                    span.glyphicon.glyphicon-arrow-left.no-padding.pull-right
                                        .row
                                            .col-xs-12.text-block-container
                                                .text-block.title 图片链接
                                                .text-block-body
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.coverUrl", placeholder="图片地址...")
                                                    hr
                                            .col-xs-12.text-block-container
                                                .text-block.title 基本信息
                                                .text-block-body
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.category", placeholder="图书类型...")
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.metaData.publisher", placeholder="出版社...")
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.metaData.wordCound", placeholder="字数...")
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.metaData.pages", placeholder="页数...")
                                                    hr
                                            .col-xs-12.text-block-container
                                                .text-block.title 标签
                                                .text-block-body
                                                    .unit(ng-repeat="tag in Model.book.tags track by $index")
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.tags[$index]", placeholder="标签...")
                                                    .unit.pull-right.button
                                                        span.fa.fa-plus(ng-click="editBook()")
                                            .col-xs-12.text-block-container(style="margin-bottom: -15px;")
                                                .text-block.title
                                                .text-block-body
                                                    .unit
                                                        span 回答 {{Model.book.stats.questionCount}}
                                                    .unit
                                                        span 提问 {{Model.book.stats.answerCount}}
                                                    .unit
                                                        span 编辑 {{Model.book.stats.editCount}}
                div(ng-if="view.state=='questions' || view.state=='ask'")
                    .row
                        .col-xs-12
                            .card.no-top-margin.bottom-margin.bg-semi-transparent
                                .card-title
                                    span.name {{Model.book.title}}
                                    span.signature(ng-repeat="author in Model.book.authors") , {{author.name.split(',').reverse().join(' ') || ''}}
                div(ng-if="view.state=='questions'")
                    a.card.short.bottom-margin(ng-repeat="question in Model.book.questions track by $index", ng-href="/questions/{{question.id}}")
                        .row
                            div.col-sm-11.col-sm-push-1.col-xs-10.col-xs-push-2
                                h4.no-top-margin.bottom-margin
                                    b {{question.title}}
                                //hr.low-margin
                                div(ng-bind-html="Model.stripHtml(question.text, 90) + '......'")
                            .col-sm-1.col-sm-pull-11.col-xs-2.col-xs-pull-10.stat-box-container
                                .rounded.bg-blue.stat-box(ng-class="{'bg-red':question.vote < 0 , 'bg-blue': question.vote > 0 }")
                                    h4.no-bottom-margin.text-center {{question.vote}}
                                    p.no-top-margin.text-center.small 投票
                                .rounded.stat-box.appendix(ng-class="{'bg-grey':question.nAnswers <= 0 , 'bg-green': question.nAnswers > 0 }")
                                    p.no-bottom-margin.text-center.small {{question.nAnswers}}
                                    p.no-top-margin.text-center.small 回答
                    div.placeholder.short(ng-if="!Model.book.questions || Model.book.questions.length===0")
                        | 这个班级中还没有添加任何问题：）
                div(ng-if="view.state=='newsFeed'")
                    .flow-container
                        .row
                            .col-xs-12(ng-include="'/widgets/newsFeed'")

                div(ng-if="view.state=='ask'")
                    div(ng-include="'/widgets/questionCreate'")

            .col-sm-3.hidden-xs
                .panel.panel-info
                    .panel-heading 他的班级
                    .panel-body
                        p(ph-txt='3s')
                .panel.panel-info
                    .panel-heading 他的课本
                    .panel-body
                        p(ph-txt='3s')
