include mixins/navbar
include mixins/footer
link(href='/css/questions.css', rel="stylesheet")
link(href='/css/card.css', rel="stylesheet")
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body(konami='debug.alert()')
    +navbar
    .alert-box(ng-show='error', ng-click="errorClear()")
        p.title {{error.title || error}}
            a.pull-right.small(ng-if="error.details", ng-click="view.error.show=show") 细节
        .details(ng-hide='view.error.show')
            p {{error.details}}
    .container
        .row
            .col-sm-7.col-sm-offset-2.col-xs-12
                ul.nav.nav-pills
                    li
                        a(ng-href='/home')
                            span.glyphicon.glyphicon-home
                    li.pull-right
                        a 待回答
                    li.pull-right
                        a 用户
                    li.pull-right
                        a 分类
                    li.pull-right
                        a(ng-href='/questions') 问题
        .row
            .col-sm-2.col-xs-3
                ul.nav.sp-nav.nav-pills.nav-stacked
                    li(ng-class="{active: view.state=='info'}")
                        a.text-center(ng-click="view.state='info'") 信息
                    li(ng-class="{active: view.state=='search'}")
                        a.text-center(ng-click="view.state='search'") 搜索
                    li(ng-class="{active: view.state=='questions'}")
                        a.text-center(ng-click="view.state='questions'") 提问
                    li(ng-class="{active: view.state=='answers'}")
                        a.text-center(ng-click="view.state='answers'") 回答
            .col-sm-7.col-xs-9
                div
                    .row
                        .col-xs-12
                            div
                                flip(flipped='view.card.flipped')
                                    flip-front.editor.convex.no-top-margin
                                        div.img-block.image
                                            img(ng-src="{{Model.book.coverUrl}}")
                                        div.img-block-body
                                            .card-title.bottom-margin
                                                span.name {{Model.book.title}}
                                                span.signature(ng-repeat="author in Model.book.authors") , {{author.name.split(',').reverse().join(' ') || ''}}
                                            .row
                                                .col-sm-3.col-sm-push-9.col-xs-12
                                                    div.info-button-dropdown.text-strip.pull-right
                                                        a(ng-click='view.card.flipped=true')
                                                            span.glyphicon.glyphicon-arrow-right.no-padding
                                                            span.end 更多信息
                                                        div.drop-down
                                                            p 详情
                                                            p 目录
                                                            p 知识树
                                                .col-sm-9.col-sm-pull-3.col-xs-12
                                                    div.text-strip
                                                        span.glyphicon.glyphicon-user
                                                        span {{Model.book.metaData.publisher}}
                                                        span.end {{Model.book.metaData.yearOfPublication}}年
                                                    div.text-strip
                                                        span.glyphicon.glyphicon-book
                                                        span(ng-repeat="tag in Model.book.tags")
                                                            a(ng-href="/tag/{{tag}}") {{tag}}
                                                    div.text-strip
                                                        span.glyphicon.glyphicon-book
                                                        span 问题 14
                                                        span 回答 265
                                                        span.end 编辑 3
                                    flip-back.editor.convex.no-top-margin
                                        .card-title.bottom-margin
                                            span.name(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.title", placeholder="标题...")
                                            span.signature(ng-repeat-start="author in Model.book.authors") ，
                                            span.signature(ng-repeat-end, inline-editable, contenteditable="{{view.card.edit}}", ng-model="author.name", placeholder="作者...")
                                            span.edit.pull-right.fa.fa-pencil(ng-hide="view.card.edit", ng-click="editBook()")
                                            span.edit.pull-right.fa.fa-check(ng-show="view.card.edit", ng-click="submitBook()")
                                            span.edit.pull-right.fa.fa-times(ng-show="view.card.edit", ng-click="view.card.edit = false")
                                        .row
                                            .col-xs-12
                                                .text-strip(ng-click="view.card.flipped=false")
                                                    span.pull-right 返回
                                                    span.glyphicon.glyphicon-arrow-left.no-padding.pull-right
                                        .row
                                            .col-xs-12.text-block-container
                                                .text-block.title 图片链接
                                                .text-block-body
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.coverUrl", placeholder="图片地址...")
                                                    hr
                                            .col-xs-12.text-block-container
                                                .text-block.title 基本信息
                                                .text-block-body
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.category", placeholder="图书类型...")
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.metaData.publisher", placeholder="出版社...")
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.metaData.wordCound", placeholder="字数...")
                                                    .unit
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.metaData.pages", placeholder="页数...")
                                                    hr
                                            .col-xs-12.text-block-container
                                                .text-block.title 标签
                                                .text-block-body
                                                    .unit(ng-repeat="tag in Model.book.tags track by $index")
                                                        span(inline-editable, contenteditable="{{view.card.edit}}", ng-model="Model.book.tags[$index]", placeholder="标签...")
                                                    .unit.pull-right.button
                                                        span.fa.fa-plus(ng-click="editBook()")
                                            .col-xs-12.text-block-container(style="margin-bottom: -15px;")
                                                .text-block.title
                                                .text-block-body
                                                    .unit
                                                        span 回答 {{Model.book.stats.questionCount}}
                                                    .unit
                                                        span 提问 {{Model.book.stats.answerCount}}
                                                    .unit
                                                        span 编辑 {{Model.book.stats.editCount}}
                            .editor
                                p test this now
                            .editor
                                p test this now


            .col-sm-3.hidden-xs
                .panel.panel-info
                    .panel-heading 他的班级
                    .panel-body
                        p(ph-txt='3s')
                .panel.panel-info
                    .panel-heading 他的课本
                    .panel-body
                        p(ph-txt='3s')
