br
.row-fluid
    .span8.offset2
        div
            tabset
                tab(heading="用户")
                    button.btn.btn-success(ng-click="listStudents()") 学生数据
                    //p {{model.studentList}}
                    //div(ng-repeat="student in model.studentList")
                        p {{student[0].firstName+" "+student[0].lastName}}
                    br
                    | Sort by:
                    select(ng-model='orderProp')
                        option(value='name') Name
                        option(value='dateOfBirth') DoB
                        option(value='schools') Schools
                        option(value='sections') Sections
                        option(value='phone') Phone
                    | Query:
                    input(ng-model="query")
                    table.table.table-striped.table-condensed.table-hover
                        thead
                            tr
                                th.name
                                    | Name
                                th.dateOfBirth
                                    | DoB
                                th.gender
                                    | Gender
                                th.schools
                                    | Schools
                                th.sections
                                    | Sections
                                th.phone
                                    | Phone
                        tfoot
                            td(colspan='6')
                                .pagination.pull-right
                                    ul
                                        li(ng-class='{disabled: currentPage == 0}')
                                            a(href='href', ng-click='prevPage()') « Prev
                                        li(ng-repeat='n in range(pagedItems.length)', ng-class='{active: n == currentPage}', ng-click='setPage()')
                                            a(href='href', ng-bind='n + 1') 1
                                        li(ng-class='{disabled: currentPage == pagedItems.length - 1}')
                                            a(href='href', ng-click='nextPage()') Next »
                        tbody
                            tr(ng-repeat='student in model.studentList[currentPage] | filter:query | orderBy:orderProp')
                                td {{student.firstName + " " + student.lastName}}
                                td {{student.dateOfBirth}}
                                td {{student.sex}}
                                td {{student.schools.toString()}}
                                td {{student.sections.toString()}}
                                td {{student.phone.toString()}}

                tab(heading="班级")
                    button.btn.btn-success(ng-click="listSections()") 班级数据
                    p {{model.sectionList}}
                tab(heading="教学材料")

