br
.row-fluid
  .span8.offset2
    div
      tabset
        tab(heading="用户")
          h3.text-center 学生数据
        tab(heading="班级")
          div(style="height:100%;")
        tab(heading="教学材料")
      h3 not sure why things are not showing up
