include mixins/navbar
include mixins/footer
div.background(style="background-color:grey;")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.container
    +navbar
    .row
        .col-md-3
            .row(style="margin-top:70px; margin-bottom:17px;")
                h4 数学
            .btn-group
                button.btn.btn-transparent-blue(type="button") 知识点
                button.btn.btn-transparent-blue(type="button") 时间顺序
                button.btn.btn-transparent-blue(type="button") 单元
            div(style="height:300px;margin-right: 20px;display:inline-box; background-color:rgba(255,255,255,.50)")
        .col-md-9
            .btn-toolbar(role="toolbar", style="margin-top:80px; margin-bottom:20px;")
                div.btn-group
                    button.btn.btn-green(type="button") 添加
                div.btn-group(style="float:right")
                    button.btn.btn-yellow(type="button") 最新

                    button.btn.btn-blue.dropdown-toggle(type='button', data-toggle='dropdown')
                        | 排列顺序
                        span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Dropdown link
                            li
                                a(href='#') Dropdown link

                    button.btn.btn-earth(type="button")
                        span.glyphicon.glyphicon-chevron-left

                    button.btn.btn-earth(type="button")
                        span.glyphicon.glyphicon-chevron-right
            .row(ng-repeat-start="problem in Model.problemNotes")
                .col-md-8
                    p {{problem.tagName}}
                        span.problem-similar
                            span(ng-click="openProblemView({id:''})") &nbsp 相似题目
                            span.glyphicon.glyphicon-share-alt
                .col-md-4
                    .problem-note-container
                        .problem-reason(ng-repeat-start="reason in problem.reasons")
                            | {{reason}}
                        .problem-reason-remove(ng-repeat-end)
                            .glyphicon.glyphicon-remove


            .row(ng-repeat-end)
                .col-md-8
                    .problem-number {{problem.numberId}}
                    .problem-main-text
                        p {{problem.mainText}}
                .col-md-4
                    .problem-note
                        p {{problem.note}}



div.sp-modal(ng-show="viewCtrl.showRegisterForm")
    //-, ng-click="viewCtrl.showLoginForm=false")
    .sp-modal.container
        span.glyphicon.glyphicon-share-alt(ng-click="exitRegister()").sp-modal.icon-exit
        div.sp-modal.container.inner
            div.sp-up-cover
            sp-input(value="form.userName", type="text", icon="user", color="#17e8ff", placeholder="请输入用户名")
            sp-input(value="form.password", type="password", icon="flash", color="#ffcd33", placeholder="请输入密码")

link(href='/css/errataPage.css', rel="stylesheet")
