include mixins/navbar
include mixins/footer
div.background(style="background-color:grey;")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.container
    +navbar
    .row
        .col-md-3
            .row(style="margin-top:70px; margin-bottom:17px;")
                h4 数学 {{model.erratum._id}}
            .btn-group
                button.btn.btn-transparent-blue(type="button") 知识点
                button.btn.btn-transparent-blue(type="button") 时间顺序
                button.btn.btn-transparent-blue(type="button") 单元
            div(style="height:300px;margin-right: 20px;display:inline-box; background-color:rgba(255,255,255,.50)")
        .col-md-9
            .btn-toolbar(role="toolbar", style="margin-top:80px; margin-bottom:20px;")
                div.btn-group
                    button.btn.btn-green(type="button", ng-click="viewCtrl.showNewProblemModal = true") 添加
                div.btn-group(style="float:right")
                    button.btn.btn-yellow(type="button") 最新

                    button.btn.btn-blue.dropdown-toggle(type='button', data-toggle='dropdown')
                        | 排列顺序
                        span.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Dropdown link
                            li
                                a(href='#') Dropdown link

                    button.btn.btn-earth(type="button")
                        span.glyphicon.glyphicon-chevron-left

                    button.btn.btn-earth(type="button")
                        span.glyphicon.glyphicon-chevron-right
            .row(ng-repeat-start="problem in Model.problemNotes")
                .col-md-8
                    p {{problem.tagName}}
                        span.problem-similar
                            span(ng-click="openProblemView({id:''})") &nbsp 相似题目
                            span.glyphicon.glyphicon-share-alt
                .col-md-4
                    .problem-note-container
                        .problem-reason(ng-repeat-start="reason in problem.reasons")
                            | {{reason}}
                        .problem-reason-remove(ng-repeat-end)
                            .glyphicon.glyphicon-remove


            .row(ng-repeat-end)
                .col-md-8
                    .problem-number {{problem.numberId}}
                    .problem-main-text
                        span(mathjax-bind="problem.mainText")
                .col-md-4
                    .problem-note
                        p {{problem.note}}



div.sp-modal(ng-show="viewCtrl.showNewProblemModal")
    //-, ng-click="viewCtrl.showLoginForm=false")
    //-.sp-modal.container
    div#notice-container.absoluteCenter
        button#back-btn(ng-click="viewCtrl.showNewProblemModal = false")
            .glyphicon.glyphicon-chevron-left
        h3.text-center 如何添加题目，或提出问题
        hr
        p 迎来到错题夹子!
        p 错题夹子的背后，是一个供大家分享题目的问答平台。在手动输入你的错题之前，先在这里输入题目的出处。如果这是一道中高考试题，很有可能这道题的题干和答案已经在我们的数据库里面了！
        h4 公开分享的题目维基
        p 错题夹子中每一道题目和题目的解答，都是像你这样的同学或者他们的老师共同编辑的结果。题目和解答对所有达到一定信用等级的用户开放编辑。这样的话不仅当你遇到新题的时候不用再重新输入，别的同学也可以给这道题目上传更好的解释和答案。
        p 每天新上传的题目会在同班同学之间推送，保证最新的题目由大家共同编辑，去掉错误，事半功倍。
        h4 个人保密的题目笔记和错误原因
        p 你的错题本中除题目以外的内容属于你自己所有，不会和其他同学分享。这包括你每一道题目的错误原因和题目笔记等。请大胆使用！
        h4 关于题目提出问题
        p 如果题目的答案还不能让你明白，那么你可以在题目后面提出问题，让老师和同学帮你解答！


link(href='/css/errataPage.css', rel="stylesheet")
