include mixins/navbar
include mixins/footer
div.background(background-img="/img/classroom.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.container
    //(style="width:1200px;")
    .row
        h3.text-white.tr-70
            img.logo(ng-src="/img/logo.png")
            | 游子问答平台
    .absoluteCenter
        .row
            .col-xs-6.col-sm-offset-1.col-sm-5
                button.btn.btn-block.sp-btn-h120.bg-blue(ng-click="viewCtrl.showLoginForm=true")
                    p.sp-text-24 登录
            .col-xs-6.col-sm-5
                button.btn.btn-block.sp-btn-h120.bg-yellow(ng-click="viewCtrl.showRegisterForm=true")
                    p.sp-text-24 注册

div.sp-modal(ng-show="viewCtrl.showLoginForm")
    //-, ng-click="viewCtrl.showLoginForm=false")
    .container
        span.glyphicon.glyphicon-share-alt(ng-click="exitLogin()").icon-exit.hidden-xs
        div.inner
            div.sp-up-cover
            form
                sp-input.c1(value="loginForm.userName", type="text", icon="user", placeholder="请输入用户名")
                sp-input.c2(value="loginForm.password", type="password", icon="flash", placeholder="请输入密码")
                button.submit(ng-click="login()", type="submit") 提交
                .warining
                    p.text-semi-white {{error}}


div.sp-modal(ng-show="viewCtrl.showRegisterForm")
    //-, ng-click="viewCtrl.showLoginForm=false")
    .container
        span.glyphicon.glyphicon-share-alt(ng-click="exitRegister()").icon-exit.hidden-xs
        div.inner
            div.sp-up-cover
            form(ng-submit="register()", name="registerForm")
                sp-input.c1(value="form.userName", type="text", icon="user", placeholder="请输入用户名")
                sp-input.c2(value="form.password", type="password", icon="flash", placeholder="请输入密码")
                sp-input.c2(value="form.passwordConfirm", type="password", icon="flash", placeholder="请确认密码")
                sp-select.c3(value="form.role", icon="leaf" )
                    option.c3(value="undefined") 请选择身份
                        b &nbsp&nbsp&nbsp&#8744
                    option.c3(value="students") 学生
                    option.c4(value="teachers") 教师
                    option.c5(value="parents") 家长
                sp-input.c6(value="form.school", type="text", icon="home", placeholder="请输入学校")
                sp-input.c7(value="form.rawNameText", type="text", icon="font", placeholder="请输入姓名")
                sp-input.c8(value="form.dateOfBirth", type="text", icon="heart", placeholder="请输入生日")
                button.submit(type="submit", data-ng-disabled="registerForm.$invalid") 提交
                .warining
                    p.text-semi-white {{error}}
            div.sp-up-cover

link(href='/css/loginWidget.css', rel="stylesheet")
