include mixins/navbar
include mixins/footer
div.background(background-img="/img/classroom.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.container
    //(style="width:1200px;")
    .row
        h3.text-white.tr-70
            img.logo(ng-src="/img/logo.png")
            | 杉景错题集
    .absoluteCenter
        .row
            .col-xs-6.col-sm-offset-1.col-sm-5
                button.btn.btn-block.sp-btn-h120.bg-blue(ng-click="viewCtrl.showLoginForm=true")
                    p.sp-text-24 登录
            .col-xs-6.col-sm-5
                button.btn.btn-block.sp-btn-h120.bg-yellow(ng-click="viewCtrl.showRegisterForm=true")
                    p.sp-text-24 注册

div.sp-modal(ng-show="viewCtrl.showLoginForm")
    //-, ng-click="viewCtrl.showLoginForm=false")
    .sp-modal.container
        span.glyphicon.glyphicon-share-alt(ng-click="exitLogin()").sp-modal.icon-exit
        div.sp-modal.container.inner
            div.sp-up-cover
            sp-input(value="loginForm.userName", type="text", icon="user", color="#17e8ff", placeholder="请输入用户名")
            sp-input(value="loginForm.password", type="password", icon="flash", color="#ffcd33", placeholder="请输入密码")
            button.btn.sp-button-small(ng-click="login()").metro.input 提交
            div(style="width:210px;position:relative;float:left;display:block;margin-top:20px;")
                p.text-semi-white {{error}}


div.sp-modal(ng-show="viewCtrl.showRegisterForm")
    //-, ng-click="viewCtrl.showLoginForm=false")
    .sp-modal.container
        span.glyphicon.glyphicon-share-alt(ng-click="exitRegister()").sp-modal.icon-exit
        div.sp-modal.container.inner
            div.sp-up-cover
            sp-input(value="form.userName", type="text", icon="user", color="#17e8ff", placeholder="请输入用户名")
            sp-input(value="form.password", type="password", icon="flash", color="#ffcd33", placeholder="请输入密码")

link(href='/css/loginWidget.css', rel="stylesheet")
