.container(style="width:900px;")
    .row-fluid
        .span12
    .row-fluid
        .span9
            tabset
                tab(heading="新鲜事")
                    div.row-fluid
                        .span1
                            img(src="/img/1_large.png").img-polaroid
                        .span11
                            alert(close="closeClicked=!closeClicked")
                                p {{user.username}} 刚刚完成了新词100问
                    div.row-fluid
                        .span1
                            img(ng-src="/img/1_large.png").img-polaroid
                        .span11
                            alert.alert.alert-success(close="closeClicked=!closeClicked")
                                p 杨歌刚刚答对了100道题目
                    div.row-fluid(ng-repeat="feed in model.feeds")
                        .span1
                            img(ng-src="{{'/img/'+feed.userUUID[1] +'_large.png'}}").img-polaroid
                        .span11
                            alert(close="closeClicked=!closeClicked")
                                p {{feed.groupUUID}} 的 {{feed.userUUID}} {{feed.type}} {{feed.feedData}}
                                p {{closeClicked}}
                tab(heading="新测试")
                tab(heading="待交")
                tab(heading="最近任务")

        .span3
            .well
                .row-fluid
                    .span12
                        img(src="/img/1_large.png", style="margin-bottom:20px;")
                .row-fluid
                    div.span12.text-center
                        p.bottom.bold 杨歌
                        p.bottom(style="margin-bottom:0;") @{{user.username}}
            .row-fluid
                .span12.sp-reports-sidebar
                    ul.nav.nav-tabs.nav-stacked.sp-reports-sidenav
                        li
                            a(ng-click="testExpression=!testExpression") 班级 {{testExpression}}
                        li
                            a 主页设置
                        li
                            a 班级
                        li
                            a 课程





