include mixins/navbar
include mixins/footer
div.background(background-img="/img/collections.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.container
    +navbar
    .row(style="padding-top:200px;")
    .row
        .col-xs-12.col-md-2(style="text-align:center;")
            img.img-circle(ph-img="160x160", style="margin-bottom:20px;margin-left:-20px;").border-circle
            h3 添加错题&nbsp
                span.glyphicon.glyphicon-plus
            h3 杉景题库&nbsp
                span.glyphicon.glyphicon-share-alt
        .col-md-10
            .row
                .col-md-2
                    h1(style="float:right;display:inline-block;") 错题本
                        span(style="margin-top:300%;").glyphicon.glyphicon-chevron-left
                .col-md-8
                    .row
                        .col-md-1
                            h1 错题本
                        .col-md-offset-1.col-md-10(style="padding-top:140px;")
                            h2(ng-repeat="subject in model.subjects")
                                a(ng-href="{{subject.url}}") {{subject.title}}
                    .row
                        .col-md-offset-10.col-md-1
                            br
                            br
                            h3(ng-click="viewCtrl.showErrataForm = true;")
                                span.glyphicon.glyphicon-plus
                                p 添加

                .col-md-2
                    h1 复习&nbsp
                        span(style="margin-top:300%;").glyphicon.glyphicon-chevron-right



div.sp-modal(ng-show="viewCtrl.showErrataForm")
    //-, ng-click="viewCtrl.showLoginForm=false")
    .sp-modal.container
        span.glyphicon.glyphicon-remove(ng-click="viewCtrl.showErrataForm = false").sp-modal.icon-exit
        div.sp-modal.container.inner
            div.sp-up-cover
            sp-input(value="form.userName", type="text", icon="user", color="#17e8ff", placeholder="请输入用户名")
            sp-input(value="form.password", type="password", icon="flash", color="#ffcd33", placeholder="请输入密码")
