include mixins/navbar
include mixins/footer
div.background(background-img="/img/collections.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.container
    +navbar
    .row(style="padding-top:200px;")
    .row
        .col-xs-12.col-md-2(style="text-align:center;")
            img.img-circle(ph-img="160x160", style="margin-bottom:20px;margin-left:-20px;").border-circle
            h3 添加错题&nbsp
                span.glyphicon.glyphicon-plus
            h3 杉景题库&nbsp
                span.glyphicon.glyphicon-share-alt
        .col-md-10
            .row
                .col-md-2
                    h1(style="float:right;display:inline-block;") 错题本
                        span(style="margin-top:300%;").glyphicon.glyphicon-chevron-left
                .col-md-8
                    .row
                        .col-md-1
                            h1 错题本
                        .col-md-offset-1.col-md-10(style="padding-top:140px;")
                            h2(ng-repeat-start="erratum in model.errata")
                                a(ng-href="{{erratum.url}}") {{erratum.title}}
                            a.close-button(ng-repeat-end, ng-show="viewCtrl.state == 'editView' ",
                            ng-click="delete(erratum._id)")
                                span.glyphicon.glyphicon-remove
                            h2 {{title}}
                    .row(ng-show="viewCtrl.state == 'createView' ", style="margin-top:40px;")
                        .col-md-offset-1.col-md-10
                            form(role='form').form-horizontal
                                .form-group
                                    label.col-sm-4.control-label 学科
                                    .col-sm-8
                                        input#input1.form-control(type='subject', placeholder='',ng-model="subject")
                                .form-group
                                    label.col-sm-4.control-label 错题本标题
                                    .col-sm-8
                                        input#input2.form-control(type='title', placeholder='{{subject}}',ng-model="title")
                                button.btn.btn-default(ng-click="viewCtrl.state =  'defaultView' ").col-sm-2.col-sm-offset-7 取消
                                button.btn.btn-default(type='submit', ng-click="createErratum()").col-sm-offset-1.col-sm-2 完成
                    .row(ng-show="viewCtrl.state == 'defaultView' ")
                        .col-md-offset-8.col-md-4
                            br
                            br
                            h3.h3-verticle(ng-click="viewCtrl.state = 'createView' ")
                                span.glyphicon.glyphicon-plus
                                p 添加
                            h3.h3-verticle(ng-click="viewCtrl.state = 'editView' ")
                                span.glyphicon.glyphicon-remove-sign
                                p 编辑
                    .row(ng-show="viewCtrl.state == 'editView' ")
                        .col-md-offset-8.col-md-4
                            br
                            br
                            h3.h3-verticle(ng-click="viewCtrl.state = 'defaultView' ")
                                span.glyphicon.glyphicon-share-alt
                                p 完成编辑
                .col-md-2
                    h1 复习&nbsp
                        span(style="margin-top:300%;").glyphicon.glyphicon-chevron-right

link(href='/css/homePage.css', rel="stylesheet")
