include mixins/navbar
include mixins/footer
link(href='/css/questions.css', rel="stylesheet")
link(href='/css/timeline.css', rel="stylesheet")
link(href='/css/feed.css', rel="stylesheet")
link(href='/css/card.css', rel="stylesheet")
link(href='/css/panel.css', rel="stylesheet")
link(href='/css/modal.css', rel="stylesheet")
link(href='/css/editor.css', rel="stylesheet")
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body(konami='debug.alert()')
    +navbar
    .alert-box(ng-show='error', ng-click="errorClear()")
        p.title {{error.title || error}}
            a.pull-right.small(ng-if="error.details", ng-click="view.error.show=show") 细节
        .details(ng-hide='view.error.show')
            p {{error.details}}
    .container
        .row
            .col-sm-7.col-sm-offset-2.col-xs-12
                ul.nav.nav-pills
                    li
                        a(ng-href='/home')
                            span.glyphicon.glyphicon-home
                    li.pull-right
                        a 待回答
                    li.pull-right
                        a 用户
                    li.pull-right
                        a 分类
                    li.pull-right
                        a(ng-href='/questions') 问题
        .row
            .col-sm-2.col-xs-3
                ul.nav.sp-nav.nav-pills.nav-stacked
                    li(ng-class="{active: view.state=='newsFeed'}")
                        a.text-center(ng-click="view.state='newsFeed'") 更新和信息
                    //li(ng-class="{active: view.state=='search'}")
                    //    a.text-center(ng-click="view.state='search'")
                    //        span 搜索 &nbsp
                    //        i.fa.fa-search
                    li(ng-class="{active: view.state=='timeline'}")
                        a.text-center(ng-click="view.state='timeline'") 我的时间轴
                    li(ng-class="{active: view.state=='ask'}")
                        a.text-center(ng-click="view.state='ask'") 提问
                    //li(ng-class="{active: view.state=='answers'}")
                    //    a.text-center(ng-click="view.state='answers'") 回答
                    //li(ng-class="{active: view.state=='follow'}")
                    //    a.text-center(ng-click="view.state='follow'") 关注
                    //li(ng-class="{active: view.state=='questions'}")
                    //    a.text-center(ng-click="view.state='questions'") 提问
                    //li(ng-class="{active: view.state=='comments'}")
                    //    a.text-center(ng-click="view.state='comments'") 评论
            .col-sm-7.col-xs-9
                div(ng-if="view.state==='newsFeed'")
                    .row
                        .col-xs-12
                            .input-group.no-bottom-margin
                                input(type='text').form-control
                                span.input-group-btn
                                    button.btn.btn-info(type='button') 搜索
                        .col-xs-12(ng-include="'/widgets/newsFeed'")
                div(ng-if="view.state==='timeline'")
                    .row
                        .col-xs-12
                            flip(flipped="view.profile.flipped")
                                flip-front.card.convex.no-top-margin
                                    .card-title.bottom-margin
                                        span.name {{Model.profile.name.split(',').join('')}}
                                        span.signature ，
                                        span.signature {{Model.profile.signature}}
                                    .row
                                        .col-sm-4.col-xs-12.col-sm-push-8
                                            div.clickable.text-strip.pull-right(ng-click="view.profile.flipped=true")
                                                span.glyphicon.glyphicon-arrow-right.no-padding
                                                span 更多信息
                                        .col-sm-8.col-xs-12.col-sm-pull-4
                                            div.text-strip
                                                span.glyphicon.glyphicon-user
                                                span.separated {{Model.profile.schoolRecord.slice(-1)[0].name}}
                                                span {{Model.profile.schoolRecord.slice(-1)[0].classYear}}届
                                            div.text-strip
                                                span.glyphicon.glyphicon-tags
                                                span(ng-repeat="major in Model.profile.schoolRecord.slice(-1)[0].majors track by $index").separated {{major}}
                                                span(ng-repeat="ec in Model.profile.extracurriculars",
                                                ng-class="{'end' : $index == profile.schoolRecord[0].extracurriculars.length}").separated {{ec}}
                                            div.text-strip
                                                span.glyphicon.glyphicon-stats
                                                span.separated 回答 {{Model.profile.stats.questionCount}}
                                                span.separated 提问 {{Model.profile.stats.answerCount}}
                                                span 编辑 {{Model.profile.stats.editCount}}
                                flip-back.card.convex.no-top-margin
                                    .card-title.bottom-margin
                                        span.name(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.name", placeholder="姓, 名...")
                                        span.signature ，
                                        span.signature(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.signature", placeholder="简介签名...")
                                        span.edit.pull-right.fa.fa-pencil(ng-hide="view.profile.edit || user.username !== Model.profile.username", ng-click="editProfile()")
                                        span.edit.pull-right.fa.fa-check(ng-show="view.profile.edit", ng-click="submitProfile()")
                                        span.edit.pull-right.fa.fa-times(ng-show="view.profile.edit", ng-click="view.profile.edit = false")
                                    .row
                                        .col-xs-12
                                            ul.clickable.text-strip(ng-click="view.profile.flipped=false")
                                                li.pull-right 返回
                                                li.glyphicon.glyphicon-arrow-left.no-padding.pull-right
                                    .row
                                        .col-xs-12.text-block-container
                                            .text-block.title 学校
                                            .text-block-body
                                                .unit(ng-repeat-start="school in Model.profile.schoolRecord track by $index")
                                                    span(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.schoolRecord[$index].name", placeholder="学校...")
                                                .unit
                                                    span(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.schoolRecord[$index].classYear", placeholder="毕业年份...")
                                                    span 届
                                                .unit
                                                    span(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.schoolRecord[$index].entrance", placeholder="入学年份...")
                                                    span 年至
                                                    span(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.schoolRecord[$index].left", placeholder="离开年份...")
                                                    span 年
                                                .unit
                                                    span(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.schoolRecord[$index].type", placeholder="中学、高中、大学、研究生")
                                                .unit.button
                                                    span.fa.fa-times(ng-click="Model.profile.schoolRecord.splice($index,1)")
                                                hr(ng-repeat-end, ng-if="$index !== Model.profile.schoolRecord.length-1")
                                                .unit.pull-right.button
                                                    span.fa.fa-plus(ng-click="addEmptySchool()", ng-show='view.profile.edit')
                                        .col-xs-12.text-block-container
                                            .text-block.title 专业
                                            .text-block-body
                                                .unit(ng-repeat="major in Model.profile.schoolRecord[Model.profile.schoolRecord.length-1].majors track by $index")
                                                    span(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.schoolRecord[Model.profile.schoolRecord.length-1].majors[$index]", placeholder="目前专业...")
                                                .unit.pull-right.button
                                                    span.fa.fa-plus(ng-click="editProfile()")
                                        .col-xs-12.text-block-container
                                            .text-block.title 学科特长
                                            .text-block-body
                                                .unit(ng-repeat="subject in Model.profile.strongSubjects track by $index")
                                                    span(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.strongSubjects[$index]", placeholder="学科特长...")
                                                .unit.pull-right.button
                                                    span.fa.fa-plus(ng-click="editProfile()")
                                        .col-xs-12.text-block-container
                                            .text-block.title 课外活动
                                            .text-block-body
                                                .unit(ng-repeat="ec in Model.profile.extracurriculars track by $index" )
                                                    span(inline-editable, contenteditable="{{view.profile.edit}}", ng-model="Model.profile.extracurriculars[$index]", placeholder="课外活动...")
                                                .unit.pull-right.button
                                                    span.fa.fa-plus(ng-click="editProfile()")
                                        .col-xs-12.text-block-container(style="margin-bottom: -15px;")
                                            .text-block.title
                                            .text-block-body
                                                .unit
                                                    span 回答 {{Model.profile.stats.questionCount}}
                                                .unit
                                                    span 提问 {{Model.profile.stats.answerCount}}
                                                .unit
                                                    span 编辑 {{Model.profile.stats.editCount}}
                        .col-xs-12(ng-include="'/widgets/timeline'")
                    .flow-container
                        .row
                            .col-lg-12
                div(ng-if="view.state=='ask'")
                    div(ng-include="'/widgets/questionCreate'")
            .col-sm-3.hidden-xs
                .panel.panel-info
                    .panel-heading(ng-click='view.sessionModal.state=true',data-animation='am-fade-and-slide-top',
                    bs-modal='modal', data-template='/partials/sessionEdit.html', data-placement='top') 我的课程
                        span.pull-right.fa.fa-bars
                    //.panel-body
                    table.table
                        //thead
                            tr
                                th
                        tbody
                            tr(ng-repeat="session in Model.profile.sessions")
                                td
                                    .pull-right
                                        span.glyphicon.glyphicon-arrow-right
                                    a(ng-href='/sessions/{{session._id}}') {{session.name}}（{{session.teachers[0].name.split(',').join('') || session.subject}}）
                .panel.panel-info
                    .panel-heading(data-animation='am-fade-and-slide-top', bs-modal='modal', data-template='/widgets/bookEdit.html', data-placement='top') 我的课本
                        span.pull-right.fa.fa-bars
                    //.panel-body
                    table.table
                        //thead
                            tr
                                th
                        tbody
                            tr(ng-repeat="book in Model.profile.books")
                                td
                                    .pull-right
                                        span.glyphicon.glyphicon-arrow-right
                                    a(ng-href="/books/{{book.authors[0].name}}/{{book.title}}") {{book.title}}

