//
   Created by ge on 3/11/14.

.modal-header
    button.close(type='button', ng-click="cancel()") ×
    h4#myModalLabel.modal-title Modal title
.modal-body
    | ...
.modal-footer
    button.btn.btn-default(type='button', ng-click="cancel()") Close
    button.btn.btn-primary(type='button', ng-click="ok()") Save changes
