
.container(style="width:900px;")
    .row(style='margin-top: 80px;')
        .col-md-6
            img(style='margin: 0px 0px 20px 60px;float:right;', width="", src='/img/firstpic.png', alt='first picture')
        .col-md-6
            br
            br
            br
            h1.text-center(style='font-size: 36px; padding-bottom: 20px;') 欢迎来到游子基金会
            h1.text-center(style='font-size: 36px; padding-bottom: 20px; margin-top:0;') 你问我答公益平台示范站点
            p.lead.text-center(style='padding-bottom: 30px;')
                | 让山区的孩子跨越千山万水
                br
                | 让公益教育项目更加透明量化
            .row
                div.col-lg-10.col-lg-offset-1
                    div
                        //-div(collapse='!isCollapsed')
                        form.form-horizontal(ng-submit="login()", name="loginForm", role="form")
                            .form-group
                                label.sr-only User Name
                                div.col-lg-8.col-lg-offset-2
                                    input.form-control(type="text", data-ng-model="username",
                                    placeholder="在这里输入用户名", name="username", required)
                            .form-group
                                label.sr-only Password
                                div.col-lg-8.col-lg-offset-2
                                    input.form-control(type="password", data-ng-model="password",
                                    placeholder="在这里输入密码",name="password",required)
                            //-.form-group
                                .checkbox.col-lg-4.col-lg-offset-4
                                    label(for="rememberme").checkbox
                                        input(type="checkbox", data-ng-model="rememberme", name="rememberme")
                                        | 记住我
                            .form-group
                                div.text-center
                                    button.btn.btn-success(type="submit") Log in

                        .alert.alert-error(data-ng-bind="error", data-ng-show="error")
                    .text-center
                        a.btn.btn-success(data-ng-click='isCollapsed = !isCollapsed') 点击这里登录
                    p(style='margin-top: 20px;')
                        .text-center
                            a(href='/register') 现在注册！

    hr
    .row.marketing
        .col-md-6.text-center
            br
            br
            h3 让每个孩子都能享受到个性化的帮助
            p 希望不再是冰冷的课桌和书本，
            p 爱心不再是支票和铅笔橡皮。
            p 更贴心的帮助，是一对一的你问我答
        .col-md-6
            img(src="/img/string_telephone.jpg")

    hr
    .row.marketing
        .col-md-6
            div
                img(src="/img/dandelion2.jpg", style="height: 200px;margin-top:20px;margin-bottom:20px;").pull-right
        .col-md-6.text-center
            br
            br
            h3 从一到万
            p 提供基于贝叶斯模型的学习和预测体系，
            p 辅助当地教师，精确推送阅读和题目。
            p 让同样的数字内容，帮助到更多需要的受助学生
    hr
    .row.marketing
        .col-md-6.text-center
            br
            br
            h3 云端助手，不让任何一个学生落下
            p 完整的平台API，多种行为数据完整统计
            p 云端助手情况报告自动生成
            p 让每个学生的困难和进步一目了然。
            br
            br
            br
            br
        .col-md-6
            div
                img(src="/img/wordcloud.png", style="height: 200px;margin-top:20px;margin-bottom:20px;")
    //-hr
    //-.row.marketing
        .col-md-6
        .col-md-6.text-center
            h3 为老师减轻负担，为学生提高效率
            p 将有限的人力资源用在更重要的地方
            p 完整的报告工具，让老师更快更好掌握学生情况
            p 减少重复，增加探索，扩展，和提高。

