include mixins/navbar
include mixins/footer
link(href='/css/problems.css', rel="stylesheet")
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body
    +navbar
    .container
        .row
            .col-sm-7.col-sm-offset-2.col-xs-9.col-xs-offset-3
                ul.nav.nav-pills.pull-right
                    li
                        a 问题
                    li
                        a 分类
                    li
                        a 用户
                    li
                        a 待回答
        .row
            .col-sm-2.col-xs-3
                ul.nav.nav-pills.nav-stacked
                    li(ng-class="{active: view.state=='search'}")
                        a.text-center(ng-click="view.state='search'") 搜索
                    li(ng-class="{active: view.state=='ask'}")
                        a.text-center(ng-click="view.state='ask'") 提问
                    li(ng-class="{active: view.state=='displayAll'}")
                        a.text-center 所有问题
            .col-sm-7.col-xs-9
                div(ng-show="view.state=='search'")
                    .input-group
                        input(type='text').form-control
                        span.input-group-btn
                            button.btn.btn-info(type='button') 搜索
                div(ng-show="view.state=='ask'")
                    .input-group
                        span.input-group-btn
                            button.btn.btn-default(type='button') 标题
                        input(type='text').form-control
                        span.input-group-btn
                            button.btn.btn-success(type='button') 确定
                    form.editor(name = 'questionEditor')
                        div(ng-model='editor.text', medium-editor, options="{{editor.options}}")
                    button.btn.btn-link(ng-click='example()', ng-hide='editor.showHtml') 问题模板
                    button.btn.btn-link(ng-click='toggleHtml()', ng-hide='editor.showHtml') 代码
                    button.btn.btn-link.pull-right(ng-click='toggleHtml()', ng-show='editor.showHtml') 关闭代码窗口
                    button.btn.btn-success.pull-right(ng-hide='editor.showHtml') 提交问题
                    form.editor(ng-show='editor.showHtml')
                        p {{editor.text}}




            .col-sm-3.hidden-xs
                .panel.panel-info
                    .panel-heading 相关标签
                    .panel-body
                        p(ph-txt='3s')
                .panel.panel-info
                    .panel-heading 相关问题
                    .panel-body
                        p(ph-txt='3s')


