include mixins/navbar
include mixins/footer
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.container
    +navbar
    .row
        div
            h1 this is some text


