include mixins/navbar
include mixins/footer
link(href='/css/questions.css', rel="stylesheet")
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body(konami='debug.alert()')
    +navbar
    .container
        .row
            .col-sm-7.col-sm-offset-2.col-xs-9.col-xs-offset-3
                ul.nav.nav-pills.pull-right
                    li
                        a 问题
                    li
                        a 分类
                    li
                        a 用户
                    li
                        a 待回答
        .row
            .col-sm-2.col-xs-3
                ul.nav.nav-pills.nav-stacked(ng-hide="view.state=='question'")
                    li(ng-class="{active: view.state=='search'}")
                        a.text-center(ng-click="view.state='search'") 搜索
                    li(ng-class="{active: view.state=='ask'}")
                        a.text-center(ng-click="view.state='ask'") 提问
                    li(ng-class="{active: view.state=='displayAll'}")
                        a.text-center 所有问题
                //ul.nav.nav-pills.nav-stacked(ng-show="view.state=='question'")
                //    li
                //        //-(ng-class="{active: view.state=='question'}")
                //        a.text-center 返回
            .col-sm-7.col-xs-9
                div(ng-show="view.state=='search'")
                    .input-group
                        input(type='text').form-control
                        span.input-group-btn
                            button.btn.btn-info(type='button') 搜索
                    .flow-container
                        .row
                            .col-lg-12
                                a.editor.small.top-padding(ng-repeat="question in Model.questions", ng-href="/questions/{{question.id}}")
                                    .row
                                        .col-lg-11.col-sm-push-1.col-xs-10.col-xs-push-2
                                            h4.no-margin {{question.title}}
                                            hr.low-margin
                                    .row
                                        div.col-sm-11.col-sm-push-1.col-xs-10.col-xs-push-2(ng-bind-html="question.text")
                                        .col-sm-1.col-sm-pull-11.col-xs-2.col-xs-pull-10.stat-box-container
                                            .rounded.blue.stat-box
                                                h4.no-bottom-margin.text-center {{question.vote}}
                                                p.no-top-margin.text-center.small 关注
                                            .rounded.stat-box.appendix(ng-class="{red:question.nAnswers < 1 , green: question.nAnswers >= 1}")
                                                p.no-bottom-margin.text-center.small {{question.nAnswers}}
                                                p.no-top-margin.text-center.small 回答
                div(ng-show="view.state=='ask'")
                    .input-group
                        span.input-group-btn
                            button.btn.btn-default(type='button') 标题
                        input(type='text', ng-model="editor.data.title").form-control
                        //-span.input-group-btn
                        //-    button.btn.btn-success(type='button') 确定
                    form.editor.large.top-padding(name = 'questionEditor')
                        div.editor-inner(ng-model='editor.data.text', medium-editor, options="{{editor.options}}")
                    button.btn.btn-link(ng-click='example()', ng-hide='editor.showHtml') 问题模板
                    button.btn.btn-link(ng-click='toggleHtml()', ng-hide='editor.showHtml') 代码
                    button.btn.btn-link.pull-right(ng-click='toggleHtml()', ng-show='editor.showHtml') 关闭代码窗口
                    button.btn.btn-success.pull-right(ng-hide='editor.showHtml', ng-click='editor.submit()') 提交问题
                    form.editor(ng-show='editor.showHtml')
                        p {{editor.data.text}}
                div(ng-show="view.state=='question'")
                    h3.title {{Model.question.title}}
                    form.editor.top-padding
                        .fixed-left
                            .rounded.blue.vote-box
                                p.text-center
                                    span.up.glyphicon.glyphicon-chevron-up
                                p.text-center 投票
                                p.text-center
                                    span.down.glyphicon.glyphicon-chevron-down
                        div.editor-inner(ng-bind-html="Model.question.text")
                    div(style='margin-top:-5px;margin-bottom:15px;')
                        span.badge(ng-repeat-start='tag in Model.question.tags') {{tag}}
                        span(ng-repeat-end) &nbsp&nbsp
                    .row
                        .col-xs-12
                            a.right-spaced 编辑问题
                            a.right-spaced 评论
                            p.pull-right
                                span {{Model.question.dateCreated}} 由
                                a.blue.spaced(ng-href="/users/{{Model.question.author.username}}") {{ Model.question.author.name || Model.question.author.username }}
                                span 创建
                    .row
                        .col-xs-12(ng-repeat='comment in Model.question.comments')
                            hr.low-margin
                            p.small
                                span.badge.margin-right {{comment.votes}}
                                span {{comment.text}}
                                span &#8212&nbsp
                                    a.blue {{comment.author}}
                    hr
                    h3 你的回答
                    form.editor.large(name = 'answerEditor')
                        div.editor-inner(ng-model='editor.text', medium-editor, options="{{editor.answerOptions}}")
                    .row
                        .col-xs-12
                            button.btn.btn-success.pull-right() 提交解答
                    .row
                        .col-xs-12
                            br






            .col-sm-3.hidden-xs
                .panel.panel-info
                    .panel-heading 相关标签
                    .panel-body
                        p(ph-txt='3s')
                .panel.panel-info
                    .panel-heading 相关问题
                    .panel-body
                        p(ph-txt='3s')

