include mixins/navbar
include mixins/footer
link(href='/css/questions.css', rel="stylesheet")
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body(konami='debug.alert()')
    +navbar
    .alert-box(ng-show='error', ng-click="errorClear()")
        p.title {{error.title || error}}
            a.pull-right.small(ng-show="error.details", ng-click="view.error.show=show") 细节
        .details(ng-hide='view.error.show')
            p {{error.details}}
    .container
        .row
            .col-sm-7.col-sm-offset-2.col-xs-12
                ul.nav.nav-pills.pull-right
                    li
                        a(href='/') 问题
                    li
                        a 分类
                    li
                        a 用户
                    li
                        a 待回答
        .row
            .col-sm-2.col-xs-3
                ul.nav.nav-pills.nav-stacked(ng-hide="view.state.split('.')[0] === 'question'")
                    li(ng-class="{active: view.state=='search'}")
                        a.text-center(ng-click="view.state='search'") 所有问题
                    li(ng-class="{active: view.state=='ask'}")
                        a.text-center(ng-click="view.state='ask'") 提问
                //ul.nav.nav-pills.nav-stacked(ng-show="view.state=='question'")
                //    li
                //        //-(ng-class="{active: view.state=='question'}")
                //        a.text-center 返回
            .col-sm-7.col-xs-9
                div(ng-show="view.state=='search'")
                    .input-group
                        input(type='text').form-control
                        span.input-group-btn
                            button.btn.btn-info(type='button') 搜索
                    .flow-container
                        .row
                            .col-lg-12
                                a.editor.short.top-margin(ng-repeat="question in Model.questions", ng-href="/questions/{{question.id}}")
                                    .row
                                        div.col-sm-11.col-sm-push-1.col-xs-10.col-xs-push-2
                                            h4.no-top-margin.bottom-margin
                                                b {{question.title}}
                                            //hr.low-margin
                                            div(ng-bind-html="Model.stripHtml(question.text, 90) + '......'")
                                        .col-sm-1.col-sm-pull-11.col-xs-2.col-xs-pull-10.stat-box-container
                                            .rounded.bg-blue.stat-box(ng-class="{'bg-red':question.vote < 0 , 'bg-blue': question.vote > 0 }")
                                                h4.no-bottom-margin.text-center {{question.vote}}
                                                p.no-top-margin.text-center.small 投票
                                            .rounded.stat-box.appendix(ng-class="{'bg-grey':question.nAnswers <= 0 , 'bg-green': question.nAnswers > 0 }")
                                                p.no-bottom-margin.text-center.small {{question.nAnswers}}
                                                p.no-top-margin.text-center.small 回答
                div(ng-show="view.state=='ask'")
                    input(type='text', placeholder="标题", ng-model="editor.data.title").form-control
                    //form.editor.tall.top-margin(name = 'questionAskEditorForm')
                    //    div.editor-inner(ng-model='editor.data.text', medium-editor, options="{{editor.options}}")
                    text-angular.tall(ng-model='editor.data.text', ta-toolbar="editor.toolbar", ta-toolbar-class="ta-toolbar", ta-text-editor-class='ta-editor', ta-html-editor-class='ta-editor', ta-toolbar-group-class='btn-group ta-btn-group')

                    div.bottom-margin.top-margin
                        .badge(ng-repeat='tag in editor.data.tags track by $index').right-margin
                            span.white {{tag}} &nbsp
                            a.white(ng-click='editor.data.tags.splice($index, 1)') &times
                    input(type='text', placeholder="问题标签--请用逗号分隔不同标签", ng-model="editor.tagText").form-control.bottom-margin
                    .row
                        .col-xs-12
                            button.btn.btn-link(ng-click='example()') 问题模板
                            button.btn.btn-link(ng-click='toggleHtml()', ng-hide='editor.showHtml') 文本代码
                            button.btn.btn-link.pull-right(ng-click='toggleHtml()', ng-show='editor.showHtml') 关闭代码窗口
                            button.btn.btn-success.pull-right(active-ctrl, ng-hide='editor.showHtml', ng-click='editor.submit()') 提交问题
                    .editor.tall(ng-show='editor.showHtml')
                        p {{editor.data.text}}
                div(ng-if="view.state.split('.')[0]=='question'")
                    //- question main text
                    div(ng-if="view.state ==='question.edit'")
                        input(type='text', placeholder="标题", ng-model="editor.data.title").form-control
                        //form.editor.tall.top-margin(name = 'questionEditorForm')
                        //    div.editor-inner(ng-model='editor.data.text', medium-editor, options="{{editor.options}}")
                        text-angular.tall.top-margin(ng-model='editor.data.text', ta-toolbar="editor.toolbar", ta-toolbar-class="ta-toolbar", ta-text-editor-class='ta-editor', ta-html-editor-class='ta-editor', ta-toolbar-group-class='btn-group ta-btn-group')
                        div.bottom-margin.top-margin
                            .badge(ng-repeat='tag in editor.data.tags track by $index').right-margin
                                span.white {{tag}} &nbsp
                                a.white(ng-click='Model.question.tags.splice($index, 1)') &times
                        input(type='text', placeholder="问题标签--请用逗号分隔不同标签", ng-model="editor.tagText").form-control.bottom-margin
                        .row
                            .col-xs-12
                                button.btn.btn-link(ng-click='example()') 问题模板
                                button.btn.btn-link(ng-click='toggleHtml()', ng-hide='editor.showHtml') 文本代码
                                button.btn.btn-link.pull-right(ng-click='toggleHtml()', ng-show='editor.showHtml') 关闭代码窗口
                                button.btn.btn-info.pull-right(active-ctrl, ng-hide='editor.showHtml', ng-click='editor.updateQuestion()') 确定修改
                                button.btn.btn-danger.pull-right.right-margin(ng-hide='editor.showHtml', ng-click='editor.cancel()') 取消
                        form.editor.tall(ng-if='editor.showHtml')
                            p {{editor.data.text}}
                    div(ng-show="view.state==='question'")
                        h3.title.bottom-margin {{Model.question.title}}
                        .editor.top-margin
                            .fixed-left
                                .rounded.bg-grey.transparent.vote-box
                                    p.text-center
                                        a(ng-click='Model.voteup(Model.question)')
                                            span.up.glyphicon.glyphicon-chevron-up(ng-class='{"glow-yellow": Model.question.votedup}')
                                    h3.text-center.no-margin {{Model.question.vote}}
                                    p.text-center
                                        a(ng-click='Model.votedown(Model.question)')
                                            span.down.glyphicon.glyphicon-chevron-down(ng-class='{"glow-pink": Model.question.voteddown}')
                            //-div.editor-inner(compile="'<mathjax>' + Model.question.text + '</mathjax>'")
                            div.editor-inner(math-html="Model.question.text")
                        div.bottom-margin.top-margin
                            a.badge(ng-repeat='tag in Model.question.tags track by $index').right-margin {{tag}}
                        .row
                            .col-xs-12
                                a.right-spaced.small(ng-click="editor.showEditView()") 编辑问题
                                a.right-spaced.small(ng-show = "user.username == Model.question.author.username", ng-click="removeQuestion(Model.question)") 删除
                                a.right-spaced.small 举报
                                p.pull-right
                                    span {{Model.question.dateCreated | date:yy-MM-dd }} 由
                                    a.blue.spaced(ng-href="/users/{{Model.question.author.username}}") {{ Model.question.author.name || Model.question.author.username }}
                                    span 创建
                        .row(ng-hide="Model.question.comments != []")
                            .col-xs-12
                                hr.short-top-margin.light-dotted.short-bottom-margin
                        .row(ng-hide="Model.question.comments != [] || view.commentEditor.state", ng-click="showCommentEditor()")
                            .col-xs-12
                                a.right-spaced 添加评论

                    //- question Comments
                    .row(ng-show="Model.question.comments != []")
                        .col-xs-12
                            hr.low-margin.dotted
                    div(ng-repeat='comment in Model.question.comments')
                        .row.comment-strip
                            .col-md-1.col-sm-2.col-xs-2
                                .row
                                    .col-xs-12.fill
                                        p
                                            span.badge.small(ng-show="comment.vote") {{comment.vote}}
                                            a.button.pull-right(ng-click="voteupComment(comment)")
                                                span.glyphicon.glyphicon-circle-arrow-up.small( ng-class='{"glow-yellow": comment.votedup}')
                                        p
                                            a.button.pull-right(ng-click="votedownComment(comment)")
                                                span.glyphicon.glyphicon-flag.small.short-top-margin( ng-class='{"glow-pink": comment.voteddown}')
                            .col-md-11.col-sm-10.col-xs-10
                                p.small
                                    span {{comment.text}}
                                    span &#8212&nbsp
                                        a.blue {{comment.author}}
                                    a.button(ng-click="removeComment(comment)")
                                        span.pull-right.glyphicon.glyphicon-remove
                        .row
                            .col-xs-12
                                hr.short-top-margin.light-dotted.short-bottom-margin
                    .row(ng-show="view.commentEditor.state")
                        .col-xs-11.pull-right
                            form.comment-editor.short
                                textarea.editor-inner.small(ng-model="commentEditor.data.text")
                            .row
                                .col-xs-12
                                    button.btn.btn-success.btn-small.pull-right(ng-click="submitComment()") 确定
                                    button.btn.btn-danger.btn-small.pull-right.right-margin(ng-click="cancelCommentEdit()") 取消

                    .row(ng-show="Model.question.comments && !view.commentEditor.state", ng-click="showCommentEditor()")
                        .col-md-11.col-sm-11.col-xs-10.pull-right
                            a.right-spaced(ng-click="editor.showCommentEditor()") 添加评论

                    br
                    h3(ng-show="Model.question.nAnswers")
                        b 大家的回答
                    div(ng-repeat="answer in Model.question.answers | orderBy:'-vote':false")
                        form.editor.top-margin(id="{{answer.id}}", ng-hide="answer.viewEdit")
                            .fixed-left
                                .rounded.grey.transparent.vote-box
                                    p.text-center
                                        a(ng-click='voteupAnswer(answer)')
                                            span.up.glyphicon.glyphicon-chevron-up( ng-class='{"glow-yellow": answer.votedup}')
                                    h3.text-center {{answer.vote}}
                                    p.text-center
                                        a(ng-click='votedownAnswer(answer)')
                                            span.down.glyphicon.glyphicon-chevron-down(ng-class='{"glow-pink": answer.voteddown}')
                            div.editor-inner(math-html="answer.text")
                            //- answer comments
                        div(ng-show="answer.viewEdit")
                            //form.editor.short.top-margin(name = 'answerEditorForm')
                                div.editor-inner(ng-model='answerEditor.data.text', medium-editor, options="{{answerEditor.options}}")

                            .row.top-margin.bottom-margin
                                .col-xs-12
                                    text-angular.short(ng-model='answerEditor.data.text', ta-toolbar="editor.toolbar", ta-toolbar-class="ta-toolbar", ta-text-editor-class='ta-editor', ta-html-editor-class='ta-editor', ta-toolbar-group-class='btn-group ta-btn-group')
                            .row.top-margin.bottom-margin
                                .col-xs-12
                                    button.btn.btn-info.pull-right(ng-click='updateAnswer(answer)') 修改
                                    button.btn.btn-danger.pull-right.right-margin(ng-click='cancelUpdateAnswer(answer)') 取消
                        .row(ng-hide='answer.viewEdit')
                            .col-xs-12
                                a.right-spaced.small(ng-click="editAnswer(answer)") 编辑回答
                                a.right-spaced.small(ng-click="showCommentEditor(answer)") 评论
                                a.right-spaced.small(ng-show="answer.author == user.username", ng-click="removeAnswer(answer)") 删除回答
                                p.pull-right
                                    span {{ answer.dateCreated | date:yy-MM-dd }} 由
                                    a.blue.spaced(ng-href="/users/{{answer.author.username}}") {{ answer.author.name || answer.author.username || answer.author }}
                                    span 创建
                                p.pull-right(ng-show='answer.dateEdited')
                                    span {{ answer.dateEdited | date:yy-MM-dd }} 由
                                    a.blue.spaced(ng-href="/users/{{answer.author.username}}") {{ answer.author.name || answer.author.username || answer.author }}
                                    span 修改

                        //- answer Comments
                        .row(ng-show="answer.comments != []")
                            .col-xs-12
                                hr.low-margin.dotted
                        div(ng-repeat='comment in answer.comments', ng-hide='answer.viewEdit')
                            .row.comment-strip
                                .col-md-1.col-sm-2.col-xs-2
                                    .row
                                        .col-xs-12.fill
                                            p
                                                span.badge.small(ng-show="comment.vote") {{comment.vote}}
                                                a.button.pull-right(ng-click="voteupAnswerComment(comment)")
                                                    span.glyphicon.glyphicon-circle-arrow-up.small( ng-class='{"glow-yellow": comment.votedup}')
                                            p
                                                a.button.pull-right(ng-click="votedownAnswerComment(comment)")
                                                    span.glyphicon.glyphicon-flag.small.short-top-margin( ng-class='{"glow-pink": comment.voteddown}')
                                .col-md-11.col-sm-10.col-xs-10
                                    p.small
                                        span {{comment.text}}
                                        span &#8212&nbsp
                                            a.blue {{comment.author}}
                                        a.button(ng-click="removeAnswerComment(comment)")
                                            span.pull-right.glyphicon.glyphicon-remove
                            .row
                                .col-xs-12
                                    hr.short-top-margin.light-dotted.short-bottom-margin

                        .row(ng-show="answer.view.state")
                            .col-xs-11.pull-right
                                form.comment-editor.short
                                    textarea.editor-inner.small(ng-model="commentEditor.data.text")
                                .row
                                    .col-xs-12
                                        button.btn.btn-success.btn-small.pull-right(ng-click="submitComment(answer)") 确定
                                        button.btn.btn-danger.btn-small.pull-right.right-margin(ng-click="cancelCommentEdit(answer)") 取消
                    //hr
                    div(ng-hide='view.answerEdit')
                        br
                        h3 你的回答
                        //form.editor.short(name = 'answerEditorForm')
                        //    div.editor-inner(ng-model='answerEditor.data.text', medium-editor, options="{{answerEditor.options}}")

                        text-angular.short(ng-model='answerEditor.data.text', ta-toolbar="editor.toolbar", ta-toolbar-class="ta-toolbar", ta-text-editor-class='ta-editor', ta-html-editor-class='ta-editor', ta-toolbar-group-class='btn-group ta-btn-group')
                        .row
                            .col-xs-12
                                button.btn.btn-success.pull-right(ng-click='addAnswer()') 提交解答
                    .row
                        .col-xs-12
                            br
            .col-sm-3.hidden-xs
                .panel.panel-info
                    .panel-heading 相关标签
                    .panel-body
                        p(ph-txt='3s')
                .panel.panel-info
                    .panel-heading 相关问题
                    .panel-body
                        p(ph-txt='3s')
