row-fluid
    .span6.offset3
        h1 用户注册
        form.form-horizontal(ng-submit="register()", name="registerForm")
            .control-group
                label.control-label(for="username") 用户名
                .controls
                    input(type="text", data-ng-model="username", placeholder="用户名", name="username", required,
                    data-ng-minlength="1", data-ng-maxlength="20")
            .control-group
                label.control-label(for="password") 密码
                .controls
                    input(type="password", data-ng-model="password", placeholder="密码", name="password", required,
                    data-ng-minlength="5", data-ng-maxlength="60")
            .control-group
                label.radio.inline
                    input(type="radio", name="role", data-ng-model="role", data-ng-value="userRoles.superAdmin")
                    | 后台服务
                label.radio.inline
                    input(type="radio", name="role", data-ng-model="role", data-ng-value="userRoles.admin")
                    | 教务和管理员
                label.radio.inline
                    input(type="radio", name="role", data-ng-model="role", data-ng-value="userRoles.teacher")
                    | 教师
                label.radio.inline
                    input(type="radio", name="role", data-ng-model="role", data-ng-value="userRoles.parent")
                    | 家长
                label.radio.inline
                    input(type="radio", name="role", data-ng-model="role", data-ng-value="userRoles.student")
                    | 学生
            .control-group
                .controls
                    button.btn(type="submit", data-ng-disabled="registerForm.$invalid") Submit

            .alert.alert-error(ng-show="registerForm.$invalid && registerForm.$dirty")
                //-strong Please correct the following errors:
                ul
                    li(ng-show="registerForm.username.$error.required") Username is required
                    li(ng-show="registerForm.username.$error.minlength") Username has to be at least 1 character long
                    li(ng-show="registerForm.username.$error.maxlength") Username has to be at most 20 character long
                    li(ng-show="registerForm.password.$error.required") Password is required
                    li(ng-show="registerForm.password.$error.minlength") Password must be at least 5 characters long
                    li(ng-show="registerForm.password.$error.maxlength") Password must be at most 60 characters long