//- for the modal template to work, the top most element
//- has to be the div.modal in the following format.
div.modal(tabindex='-1', role='dialog', ng-controller='RegisterCtrl')
    .modal-dialog
        .modal-content.header-card
            .modal-body
                div(contenteditable='true', inline-editable="Model.user.username", placeholder='添加班级。。。')
                div(contenteditable='true', inline-editable="Model.user.username", placeholder='班级编码。。。')

        .modal-content.top-margin
            .modal-header
                button.close(type='button', ng-click="$hide()") ×
                h4#myModalLabel.modal-title.text-center 数学（三年级一班）
            .modal-body
                .row
                    .col-xs-10.col-xs-offset-1

        .modal-content.top-margin
            .modal-header
                h4.text-center 搜索和添加班级
            .modal-body
                //.unit(contenteditable='true', inline-editable="Model.user.username", placeholder='添加班级。。。')
                //.unit(contenteditable='true', inline-editable="Model.user.username", placeholder='班级编码。。。')
                .row
                    .col-xs-12
                        form
                            .input-group
                                input.form-control(type='text', placeholder='班级名称，ID编号，学校...')
                                span.input-group-btn
                                    button.btn.btn-info(type='button') 搜索
                .row
                    .col-xs-12
                        form(ng-submit="submit()", role="form")
                            .form-group
                                input.form-control(type="name", ng-model="registerData.email", placeholder="班级名称...", required)
                            .form-group
                                input.form-control(type="subject", ng-model="registerData.username", placeholder="班级学科...", required)
                            .form-group
                                input.form-control(type="teachers", ng-model="sessionData.teachers", placeholder="请在这里输入老师的姓名或用户名...", required)
                            .form-group
                                input.form-control(type="schools", ng-model="sessionData.schools", placeholder="请在这里输入学校的名称...", required)
                            button.pull-right.btn.btn-info(type='submit') 添加班级！

        .modal-content.top-margin
            .modal-body
                .row
                    .col-xs-12
                        h4#myModalLabel.modal-title.text-center 数学（三年级一班），汪峰，清华大学

        .modal-content.short-top-margin.bg-transparent(ng-if="view.error", ng-show="view.error")
            div.alert.alert-warning.no-bottom-margin
                p {{view.error}}
