include mixins/navbar
include mixins/footer
link(href='/css/questions.css', rel="stylesheet")
link(href='/css/card.css', rel="stylesheet")
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body(konami='debug.alert()')
    +navbar
    .alert-box(ng-show='error', ng-click="errorClear()")
        p.title {{error.title || error}}
            a.pull-right.small(ng-if="error.details", ng-click="view.error.show=show") 细节
        .details(ng-hide='view.error.show')
            p {{error.details}}
    .container
        .row
            .col-sm-7.col-sm-offset-2.col-xs-12
                ul.nav.nav-pills
                    li
                        a(ng-href='/home')
                            span.glyphicon.glyphicon-home
                    li.pull-right
                        a 待回答
                    li.pull-right
                        a 用户
                    li.pull-right
                        a 分类
                    li.pull-right
                        a(ng-href='/questions') 问题
        .row
            .col-sm-2.col-xs-3
                ul.nav.sp-nav.nav-pills.nav-stacked
                    li(ng-class="{active: view.state=='info'}")
                        a.text-center(ng-click="view.state='info'") 新鲜事
                    li(ng-class="{active: view.state=='search'}")
                        a.text-center(ng-click="view.state='search'") 搜索
                    li(ng-class="{active: view.state=='questions'}")
                        a.text-center(ng-click="view.state='questions'") 问题
                    li(ng-class="{active: view.state=='answers'}")
                        a.text-center(ng-click="view.state='answers'") 回答
            .col-sm-7.col-xs-9
                div
                    .row
                        .col-xs-12
                            flip(flipped='view.card.flipped').bottom-margin.tall
                                flip-front
                                    .card.convex.no-top-margin
                                        .card-title.bottom-margin
                                            span.name {{Model.session.name}}
                                            span.signature.small(ng-repeat="teacher in Model.session.teachers track by $index")
                                                span ，{{Model.session.teachers[$index].name.split(',').join('')}}
                                        .row.short-bottom-margin
                                            .col-xs-12
                                                div.clickable.info-button-dropdown.text-strip.pull-right(ng-click="view.card.flipped=true")
                                                    a
                                                        span.glyphicon.glyphicon-arrow-right.no-padding
                                                        span.end 更多信息
                                                    div.drop-down
                                                        p 成员
                                                        p 课程资料
                                                        p 知识树
                                        .row
                                            .col-xs-12
                                                div(ng-if="Model.session.overview") {{Model.session.overview}}
                                                div(ng-if="!Model.session.overview").placeholder.short 暂无课程简介
                                                div.top-margin
                                                    span(ng-repeat="teacher in Model.session.teachers track by $index").blue {{teacher.name.split(',').join('')}}，
                                                    span(ng-repeat="member in Model.session.members track by $index") {{member.name.split(',').join('')}}，
                                                    span(ng-if="Model.session.teachers || Model.session.members") 在上这门课程。
                                                .badge.right-margin.short-top-margin(ng-repeat="tag in Model.session.tags track by $index")  {{tag}}
                                        //.row
                                            hr.taper.top-margin.bottom-margin
                                            .col-xs-12
                                                div.text-strip
                                                    span.glyphicon.glyphicon-book
                                                    span 回答 265
                                                    span 提问 14
                                                    span.end 编辑 3
                                flip-back
                                    .card.convex.no-top-margin
                                        .card-title
                                            span.name {{Model.session.name}}
                                            span.signature(ng-repeat="teacher in Model.session.teachers track by $index") ，
                                                span.small(contenteditable="{{view.session.edit}}", inline-editable, ng-model="Model.session.teachers[$index].name", placeholder="教师姓名...", submit="addTeacher($index)")
                                            span(ng-if="view.session.edit", ng-click="Model.session.teachers.push({name:''})").edit.clickable.fa.fa-plus.left-margin
                                            span.edit.clickable.fa.fa-pencil.pull-right(ng-if="!view.session.edit", ng-click='view.session.edit=true')
                                            span.edit.clickable.fa.fa-check.pull-right(ng-if="view.session.edit", ng-click='updateSession()')
                                            span.edit.clickable.fa.fa-times.pull-right(ng-if="view.session.edit", ng-click='view.session.edit=false')
                                        .row.short-bottom-margin
                                            .col-xs-12
                                                div.clickable.info-button-dropdown.text-strip.pull-right(ng-click="view.card.flipped=false")
                                                    a
                                                        span.glyphicon.glyphicon-arrow-left.no-padding
                                                        span.end 返回
                                        .row.top-margin(ng-if="Model.session.overview || view.session.edit")
                                            .col-xs-12
                                                div(ng-if="!Model.session.overview && !view.session.edit").placeholder.short 暂无课程简介
                                                div(ng-if="Model.session.overview || view.session.edit", inline-editable, contenteditable='{{view.session.edit===true}}', ng-model="Model.session.overview", ng-class="{placeholder: !Model.session.overview, short: !(Model.session.overview.length >= 70)}", placeholder="添加课程简介...")

                                    //.card.convex.top-margin
                                    .short-bottom-margin.top-margin
                                        .badge.right-margin.short-bottom-margin(ng-repeat="tag in Model.session.tags track by $index")  {{tag}}
                                            span(ng-if="view.session.edit") &nbsp
                                            span(ng-if="view.session.edit", ng-click="Model.session.tags.splice($index, 1)").fa.fa-times
                                    .row(ng-show="view.session.edit")
                                        .col-xs-12.no-margin
                                            .form-group.no-margin
                                                input.form-control.no-margin(push-to="Model.session.tags", type="text", ng-Model="ngModel", placeholder="标签, 用逗号分隔...")

                    .flow-container
                        .row
                            .col-lg-12
            .col-sm-3.hidden-xs
                .panel.panel-info
                    .panel-heading 相关教材
                    //-.panel-body
                    table.table
                        //-thead
                            tr
                                th
                        tbody
                            tr(ng-repeat="book in Model.session.books")
                                td
                                    .pull-right
                                        span.glyphicon.glyphicon-arrow-right
                                    a(ng-href='/books/{{book._id}}') {{book.title}}（{{book.authors[0].name.split(',').join('')}}）
