include mixins/navbar
include mixins/footer
link(href='/css/questions.css', rel="stylesheet")
link(href='/css/card.css', rel="stylesheet")
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body(konami='debug.alert()')
    +navbar
    .alert-box(ng-show='error', ng-click="errorClear()")
        p.title {{error.title || error}}
            a.pull-right.small(ng-if="error.details", ng-click="view.error.show=show") 细节
        .details(ng-hide='view.error.show')
            p {{error.details}}
    .container
        .row
            .col-sm-7.col-sm-offset-2.col-xs-12
                ul.nav.nav-pills
                    li
                        a(ng-href='/home')
                            span.glyphicon.glyphicon-home
                    li.pull-right
                        a 待回答
                    li.pull-right
                        a 用户
                    li.pull-right
                        a 分类
                    li.pull-right
                        a(ng-href='/questions') 问题
        .row
            .col-sm-2.col-xs-3
                ul.nav.sp-nav.nav-pills.nav-stacked
                    li(ng-class="{active: view.state=='info'}")
                        a.text-center(ng-click="view.state='info'") 信息
                    li(ng-class="{active: view.state=='search'}")
                        a.text-center(ng-click="view.state='search'") 搜索
                    li(ng-class="{active: view.state=='questions'}")
                        a.text-center(ng-click="view.state='questions'") 问题
                    li(ng-class="{active: view.state=='answers'}")
                        a.text-center(ng-click="view.state='answers'") 回答
            .col-sm-7.col-xs-9
                div
                    .row
                        .col-xs-12
                            .card.convex.no-top-margin
                                .card-title.bottom-margin
                                    span.name 高中语文
                                    span.signature ，三年级一班
                                .row
                                    .col-sm-4.col-xs-12.col-sm-push-8
                                        div.info-button-dropdown.text-strip.pull-right
                                            a
                                                span.glyphicon.glyphicon-arrow-right.no-padding
                                                span.end 更多信息
                                            div.drop-down
                                                p 成员
                                                p 课程资料
                                                p 知识树
                                    .col-sm-8.col-xs-12.col-sm-pull-4
                                        div.text-strip
                                            span.glyphicon.glyphicon-user
                                            span 南山区第一中学
                                            span.end 沈晓燕
                                        div.text-strip
                                            span.glyphicon.glyphicon-book
                                            span.end 语文
                                        div.text-strip
                                            span.glyphicon.glyphicon-book
                                            span 回答 265
                                            span 提问 14
                                            span.end 编辑 3


                    .flow-container
                        .row
                            .col-lg-12
            .col-sm-3.hidden-xs
                .panel.panel-info
                    .panel-heading 他的班级
                    .panel-body
                        p(ph-txt='3s')
                .panel.panel-info
                    .panel-heading 他的课本
                    .panel-body
                        p(ph-txt='3s')
