//- for the modal template to work, the top most element
//- has to be the div.modal in the following format.
div.modal(tabindex='1', role='dialog')
    .modal-dialog
        .modal-content.header-card
            .modal-body
                .row
                    .col-xs-12
                        form.no-bottom-margin
                            .input-group
                                input.form-control(type='text', placeholder='班级名称，ID编号，学校...', ng-model='view.mySessions.searchText')
                                span.input-group-btn
                                    button.btn.btn-info(type='button') 搜索

        .modal-content.top-margin(ng-repeat="session in Model.profile.sessions | filter:view.mySessions.searchText")
            .modal-header
                button.close(type='button', ng-click="$hide()") ×
                h4#myModalLabel.modal-title.text-center {{session.name}}（{{session.subject}}）
            .modal-body
                .row
                    .col-xs-10.col-xs-offset-1
                        .unit {{session.school}}
                        .unit(ng-repeat="tag in session.tags track by $index") {{tag}}

        .modal-content.top-margin
            .modal-header
                h4.text-center 在数据库中搜索或添加班级
            .modal-body
                //.unit(contenteditable='true', inline-editable="Model.user.username", placeholder='添加班级。。。')
                //.unit(contenteditable='true', inline-editable="Model.user.username", placeholder='班级编码。。。')
                .row(ng-if='!view.mySessions.createView')
                    .col-xs-12
                        form.no-bottom-margin
                            .input-group
                                input.form-control(type='text', placeholder='班级名称，ID编号，学校...', ng-model='view.sessions.searchText')
                                span.input-group-btn
                                    button.btn.btn-info(type='button') 搜索
                .row(ng-if='view.sessions.searchText.length >= 4 && !view.mySessions.createView')
                    .col-xs-12.top-margin
                        .unit.short 搜索不到我的班级...
                        form(role="form")
                            button.pull-right.btn.btn-warning(ng-click="view.mySessions.createView=true") 创建班级

                .row(ng-if='view.mySessions.createView')
                    .col-xs-12
                        form(ng-submit="submit()", role="form").no-bottom-margin
                            .form-group
                                input.form-control(type="text", ng-model="sessionData.name", placeholder="班级名称...", required)
                            .form-group
                                input.form-control(type="text", ng-model="sessionData.subject", placeholder="所属学科...", required)
                            .form-group
                                .blue.right-margin.short-bottom-margin(ng-repeat='teacher in sessionData.teachers track by $index') {{teacher.name}} &nbsp
                                    span(ng-click="sessionData.teachers.splice($index, 1)").fa.fa-times
                            .input-group.bottom-margin
                                input.form-control(type="text", ng-model="sessionData.teacher", placeholder="任课老师姓名或用户名...")
                                span.input-group-btn
                                    button.btn.btn-info(type='button') 搜索
                            .form-group
                                .badge.badge-default.right-margin.short-bottom-margin(ng-repeat='tag in sessionData.tags track by $index') {{tag}} &nbsp
                                    span(ng-click="sessionData.tags.splice($index, 1)").fa.fa-times
                            .form-group
                                input.form-control(type="text", ng-model="sessionData.tag", placeholder="标签, 用逗号分隔...")
                            .form-group
                                input.form-control(type="text", ng-model="sessionData.school", placeholder="默认学校：{{Model.profile.schoolRecord[Model.profile.schoolRecord.length-1].name}}")
                            button.pull-right.btn.btn-success(ng-click='submitSession()') 创建班级！
                            button.pull-right.btn.btn-default.right-margin(ng-click='view.mySession.show=false') 取消

        .modal-content.top-margin.yellow(ng-repeat="session in Model.sessions | filter:view.sessions.searchText")
            .modal-body
                .row
                    .col-xs-12
                        h4#myModalLabel.modal-title.text-center {{session.name}}，{{session.subject}}，{{session.school}}，

        .modal-content.short-top-margin.bg-transparent(ng-if="view.error", ng-show="view.error")
            div.alert.alert-warning.no-bottom-margin
                p {{view.error}}
