include mixins/navbar
include mixins/footer
link(href='/css/questions.css', rel="stylesheet")
link(href='/css/tabs.css', rel="stylesheet")
div.background
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body
    +navbar
    .container(style="width:900px;")
        .row
            tabset
                tab(heading="用户")
                    div.tab-box.bg-white
                        .container
                            br
                            button.btn.btn-success(ng-click="listStudents()") 学生数据
                            br
                            br
                            h3(ph-txt='1s')
                            div(ph-txt='3p2s').background-white
                            div(ng-show="studentShowClicked && data['student'].data.length > 0")

                tab(heading="班级")
                    p TODO
                    //button.btn.btn-success(ng-click="listSections()") 班级数据
                    //p {{model.sectionList}}
                tab(heading="教学材料")
        +footer
link(href='/css/superadmin.css', rel="stylesheet")




