include mixins/navbar
include mixins/footer
link(href='/css/tabs.css', rel="stylesheet")
link(href='/css/questions.css', rel="stylesheet")
link(href='/css/timeline.css', rel="stylesheet")
link(href='/css/feed.css', rel="stylesheet")
link(href='/css/card.css', rel="stylesheet")
link(href='/css/panel.css', rel="stylesheet")
link(href='/css/modal.css', rel="stylesheet")
link(href='/css/editor.css', rel="stylesheet")
div.background
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body
    +navbar
    .container
        .row
            .col-xs-12.col-sm-9
                tabset
                    tab(heading="学校")
                        div.tab-box.bg-white
                            .row.top-margin
                                //.col-xs-8
                                    .input-group
                                        input.form-control(ng-model='schoolName', placeholder="请输入学校名搜索或添加学生")
                                        span.input-group-btn
                                .col-xs-12
                                    button.btn.btn-success.right-margin(ng-click="Model.getSchools()", ng-class="{'btn-success': schoolName.length>=3}") 获得学校列表
                                    button.btn.btn-info.pull-right.left-margin(ng-show="view.edit", ng-click="view.edit=false") 退出编辑模式
                                    button.btn.btn-warning.pull-right(ng-show="!view.edit", ng-click="view.edit=true") 编辑学生数据
                                .col-xs-12
                                    table.table
                                        thead
                                            tr
                                                th
                                                th 种类
                                                th 全称
                                                th 地址
                                                th 邮编
                                                th 省市
                                                th 简介
                                                th 创建年份
                                        tbody
                                            tr(ng-repeat="school in Model.schools track by $index")
                                                td
                                                    button(ng-click="") 保存修改
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="Model.schools[$index].type", placeholder="没有学号...")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="Model.schools[$index]._id", placeholder="没有用户名...")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="Model.schools[$index].address", placeholder="没有名字??")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="Model.schools[$index].zipCode", placeholder="是她还是他？")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="Model.schools[$index].state", placeholder="需要填写入学年份...")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="Model.schools[$index].overview", placeholder="需要学校名称")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="Model.schools[$index].foundingYear", placeholder="需要学校名称")
                    tab(heading="学生")
                        div.tab-box.bg-white
                            .row.top-margin
                                .col-xs-8
                                    .input-group
                                        input.form-control(ng-model='schoolName', placeholder="请输入学校名搜索或添加学生")
                                        span.input-group-btn
                                            button.btn(ng-click="searchStudents(schoolName)", ng-disabled="!(schoolName.length>=2)", ng-class="{'btn-success': schoolName.length>=2}") 获得学生数据
                                .col-xs-4
                                    button.btn.btn-success.pull-right.left-margin(ng-click='batchRegister()') 批量注册
                                    button.btn.btn-info.pull-right.left-margin(ng-show="view.edit", ng-click="view.edit=false") 退出编辑模式
                                    button.btn.btn-warning.pull-right(ng-show="!view.edit", ng-click="view.edit=true") 编辑学生数据
                                .col-xs-12
                                    table.table
                                        thead
                                            tr
                                                th 用户名
                                                th 姓名
                                                th 密码明文
                                                th 性别
                                                th 生日
                                                th 毕业年份
                                                th 学校
                                                th 电话
                                                th 邮箱地址
                                        tbody
                                            tr(ng-repeat="student in model.students track by $index", ng-hide="student.$hide", ng-class="{success: student._id!=undefined, danger: student.$error == true, warning: student.$uploading == true}")
                                                td
                                                    a(ng-href="/users/{{student._id}}")
                                                        span(inline-editable, contenteditable="{{view.edit}}", ng-model="model.students[$index].username", placeholder="没有用户名...")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="model.students[$index].name", placeholder="没有名字??")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="model.students[$index].passwordText", placeholder="密码")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="model.students[$index].gender", placeholder="是她还是他？")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="model.students[$index].DOBText", placeholder="生日")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="model.students[$index].classYear", placeholder="需要填写入学年份...")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="model.students[$index].schoolName", placeholder="需要学校名称")
                                                td(inline-editable, contenteditable="{{view.edit}}", ng-model="model.students[$index].mobile", placeholder="家长信息")
                                                td {{student.email}}
                    tab(heading="班级")
                        p TODO
                        //button.btn.btn-success(ng-click="listSections()") 班级数据
                        //p {{model.sectionList}}
            .hidden-xs.col-sm-3
                .panel.panel-info.bottom-margin
                    .panel-heading 批量创建学生账户
                    .panel-body
                        textarea(ng-model='studentDataText', placeholder="请在这里粘贴学生信息").fill
                        //div(ng-file-drop="onFileSelect($files)", ng-file-drag-over-class='bg-blue',style="height: 200px;").placeholder.bottom-margin 拖动csv文件到这里...
                        //input(type='file', ng-file-select="onFileSelect($files)")
                        //button.btn.btn-success(ng-click="makeStudents(studentDataText)") 检测数据

                .alert.clickable(ng-repeat="alert in model.log track by $index", ng-class="{'alert-danger': alert.class=='error', 'alert-success': alert.class=='success'}", ng-click='model.log.splice($index,1)')
                    span {{alert.message}}


        +footer
link(href='/css/superadmin.css', rel="stylesheet")




