h1 学生管理
.row-fluid
    .span3
        h4 选择学校
        input.span12(type="text", placeholder="学校名称／ID", ng-model="schoolname")
        //- the demo javascript please refer to:
        //- http://angular-ui.github.io/bootstrap/#/alert
        alert.alert-info(type="info", close="closeAlert()")
            | TODO: 在这里显示学校tag，
        hr
        h4 选择班级或课程
        input.span12(type="text", placeholder="班级或课程", ng-model="schoolname")
        alert.alert-success(type="success", close="closealert()")
            | todo: 在这里显示班级或者课程tag，
        hr
        h4 选择教师
        input.span12(type="text", placeholder="教师姓名或ID", ng-model="schoolname")
        alert(close="closeAlert()")
            | TODO: 在这里显示教师头像，
        hr
    .span9
        tabset
            //with angular-ui 5.0 (next release), should be able to
            //do: .tabbable.tabs-below left right.
            tab(heading="学生名单")
                .row-fluid
                    div.pull-left
                        h4 新增用户
                    div.pull-right
                        button.btn.btn-small.btn-danger 清空通知
                table.table.table-striped(data-ng-hide="loading")
                    thead
                        tr
                            th dsfa1
                            th as2
                            th sdfa3
                    tbody
                        tr
                            td adfasfa1
                            td asdfasdf1
                            td asfdas1

                hr
                h4 其他用户
                table.table.table-striped(data-ng-hide="loading")
                    thead
                        tr
                            th
                            th 姓名
                            th 属性
                    tbody
                        tr(data-ng-repeat="user in users")
                            td {{ user.id }}
                                button.icon-pencil(ng-click="modalShow=!modalShow")
                                span the parameter $scope.modalShow is &nbsp; {{modalShow}}
                                div(modal="modalShow", close="modalShow=false").well
                                    //the call back sets the parameter flase again.
                                    div.modal-header 修改 {{user.username}} 信息
                                    div.modal-body
                                        {{user.id}}
                                        .row-fluid
                                            input.span12(type="text", placeholder="type here", ng-model="expression")
                                            div {{expression}}
                                    div.modal-footer
                                        button.btn.btn-success 提交
                            td
                               i.icon-twitter(data-ng-show="user.provider === 'twitter'")
                               i.icon-facebook-sign(data-ng-show="user.provider === 'facebook'")
                               i.icon-google-plus-sign(data-ng-show="user.provider === 'google'")
                               i.icon-linkedin(data-ng-show="user.provider === 'linkedin'")
                               |  {{ user.username }}
                            td
                                span.label(data-ng-class='{"label-info": user.role == userRoles.loggedin, "label-success": user.role == userRoles.superuser}') {{ getUserRoleText(user.role) }}
            tab(heading="教师名单")
            tab(heading="新增用户")
                h4 学生
                table.table.table-striped(data-ng-hide="loading")
                    thead
                    tbody
                        tr
                            td adfast
                            td sdfasd
                            td fasdsa
                hr
                h4 教师
                hr
            //Only superuser(admin, teacher) can see the tab below.
            //The tab directive currently does not support this functionality.
            tab(heading="学校")
            //tab(heading="学校", data-ng-hide='{{false}}')
