include mixins/navbar
include mixins/footer
link(href='/css/questions.css', rel="stylesheet")
link(href='/css/card.css', rel="stylesheet")
div.background(background-img="/img/bg-brown.jpg")
#cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
.body(konami='debug.alert()')
    +navbar
    .alert-box(ng-show='error', ng-click="errorClear()")
        p.title {{error.title || error}}
            a.pull-right.small(ng-if="error.details", ng-click="view.error.show=show") 细节
        .details(ng-hide='view.error.show')
            p {{error.details}}
    .container
        .row
            .col-sm-7.col-sm-offset-2.col-xs-12
                ul.nav.nav-pills
                    li
                        a(ng-href='/home')
                            span.glyphicon.glyphicon-home
                    li.pull-right
                        a 待回答
                    li.pull-right
                        a 用户
                    li.pull-right
                        a 分类
                    li.pull-right
                        a(ng-href='/questions') 问题
        .row
            .col-sm-2.col-xs-3
                ul.nav.sp-nav.nav-pills.nav-stacked
                    li(ng-class="{active: view.state=='info'}")
                        a.text-center(ng-click="view.state='info'") 信息
                    li(ng-class="{active: view.state=='search'}")
                        a.text-center(ng-click="view.state='search'") 搜索
                    li(ng-class="{active: view.state=='answers'}")
                        a.text-center(ng-click="view.state='answers'") 他的回答
                    li(ng-class="{active: view.state=='follow'}")
                        a.text-center(ng-click="view.state='follow'") 他的关注
                    li(ng-class="{active: view.state=='stats'}")
                        a.text-center(ng-click="view.state='stats'") 统计数据
                    li(ng-class="{active: view.state=='questions'}")
                        a.text-center(ng-click="view.state='questions'") 他的提问
                    li(ng-class="{active: view.state=='comments'}")
                        a.text-center(ng-click="view.state='comments'") 他的评论
            .col-sm-7.col-xs-9
                div
                    .row
                        .col-xs-12
                            flip(flipped="view.profile.flipped")
                                flip-front.editor.convex.no-top-margin
                                    .card-title.bottom-margin
                                        span.name {{profile.name}}
                                        span.signature ，
                                        span.signature {{profile.signature}}
                                    .row
                                        .col-sm-4.col-xs-12.col-sm-push-8
                                            div.text-strip.pull-right(ng-click="view.profile.flipped=true")
                                                span.glyphicon.glyphicon-arrow-right.no-padding
                                                span 更多信息
                                        .col-sm-8.col-xs-12.col-sm-pull-4
                                            div.text-strip
                                                span.glyphicon.glyphicon-user
                                                span.separated {{profile.schools[0].name}}
                                                span {{profile.schools[0].classYear}}届
                                            div.text-strip
                                                span.glyphicon.glyphicon-book
                                                span(ng-repeat="major in profile.schools[0].majors").separated {{major}}
                                                span(ng-repeat="ec in profile.schools[0].extracurriculars",
                                                    ng-class="{'end' : $index == profile.schools[0].extracurriculars.length}").separated {{ec}}
                                            div.text-strip
                                                span.glyphicon.glyphicon-stats
                                                span.separated 回答 {{profile.questionCount}}
                                                span.separated 提问 {{profile.answerCount}}
                                                span 编辑 {{profile.editCount}}

                                flip-back.editor.convex.no-top-margin
                                    .card-title.bottom-margin
                                        span.name(contenteditable="{{view.profile.edit}}", ng-model="profile.name", placeholder="姓名") {{profile.name}}
                                        span.signature ，
                                        span.signature(contenteditable="{{view.profile.edit}}", ng-model="profile.signature", placeholder="简介签名...") {{profile.signature}}
                                        span.edit.pull-right.fa.fa-cog(ng-hide="view.profile.edit", ng-click="view.profile.edit = true")
                                        span.edit.pull-right.fa.fa-check(ng-show="view.profile.edit", ng-click="view.profile.edit = false")
                                        span.edit.pull-right.fa.fa-times(ng-show="view.profile.edit", ng-click="view.profile.edit = false")
                                    .row
                                        .col-xs-12
                                            ul.text-strip(ng-click="view.profile.flipped=false")
                                                li.pull-right 返回
                                                li.glyphicon.glyphicon-arrow-left.no-padding.pull-right
                                    .row(ng-repeat="school in profile.schools")
                                        .col-xs-12.text-block-container
                                            .text-block.title 学校
                                            .text-block-body
                                                .unit
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].name", placeholder="学校...") {{school.name}}
                                                .unit
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].classYear", placeholder="毕业年份...") {{school.classYear}}
                                                    span 届
                                                .unit
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].entrance", placeholder="入学年份...") {{school.entrance}}
                                                    span 年至
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].left", placeholder="离开年份...") {{school.left}}
                                                    span 年
                                                .unit
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].type", placeholder="中学、高中、大学、研究生") {{school.type}}
                                                .unit.button
                                                    span.fa.fa-times
                                                hr
                                                .unit
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].name", placeholder="学校...") {{school.name}}
                                                .unit
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].classYear", placeholder="毕业年份...") {{school.classYear}}
                                                    span 届
                                                .unit
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].entrance", placeholder="入学年份...") {{school.entrance}}
                                                    span 年至
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].left", placeholder="离开年份...") {{school.left}}
                                                    span 年
                                                .unit
                                                    span(contenteditable="{{view.profile.edit}}", ng-model="profile.schools[$index].type", placeholder="中学、高中、大学、研究生") {{school.type}}
                                                .unit.button
                                                    span.fa.fa-times
                                                .unit.pull-right.button
                                                    span.fa.fa-plus
                                        .col-xs-12.text-block-container
                                            .text-block.title 学科特长
                                            .text-block-body
                                                .unit
                                                    span(ng-repeat="major in school.majors", contenteditable="{{view.profile.edit}}", ng-model="school.majors[$index].classYear", placeholder="专业...").separated {{major}}
                                                .unit.pull-right.button
                                                    span.fa.fa-plus
                                        .col-xs-12.text-block-container
                                            .text-block.title 专业
                                            .text-block-body
                                                .unit
                                                    span(ng-repeat="major in school.majors", contenteditable="{{view.profile.edit}}", ng-model="school.majors[$index].classYear", placeholder="专业...").separated {{major}}
                                                .unit.pull-right.button
                                                    span.fa.fa-plus
                                        .col-xs-12.text-block-container
                                            .text-block.title 课外活动
                                            .text-block-body
                                                .unit
                                                    span(ng-repeat="ec in school.extracurriculars", ng-class="{'end' : $index == school.extracurriculars.length}") {{ec}}
                                                .unit.pull-right.button
                                                    span.fa.fa-plus
                                        .col-xs-12.text-block-container(style="margin-bottom: -15px;")
                                            .text-block.title
                                            .text-block-body
                                                .unit
                                                    span 回答 {{profile.questionCount}}
                                                .unit
                                                    span 提问 {{profile.answerCount}}
                                                .unit
                                                    span 编辑 {{profile.editCount}}


                    .flow-container
                        .row
                            .col-lg-12
            .col-sm-3.hidden-xs
                .panel.panel-info
                    .panel-heading 他的班级
                    .panel-body
                        p(ph-txt='3s')
                .panel.panel-info
                    .panel-heading 他的课本
                    .panel-body
                        p(ph-txt='3s')
