!!! 5
html(lang='en', data-ng-app='SpruceQuizApp')
    head
        meta(charset='utf-8')
        title 云杉习题-新一代学习管理平台
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js")
        //-script(src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js")
        script(src="/js/angular-ui/ui-bootstrap-tpls-0.4.0.min.js")
        //-link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css",
            rel="stylesheet")
        link(href='/css/bootstrap-combined.no-icons.min.SpruceLearning.css',
            rel="stylesheet")
        link(rel='stylesheet', href='/css/app.css')
        link(href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css", rel="stylesheet")
        script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
        script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured&dummy=.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.js')
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.js")
        script(src='/js/routingConfig.js')
        script(src='/js/app.js')
        script(src='/js/services.js')
        script(src='/js/controllers.js')
        script(src='/js/controllers/problems.js')
        script(src='/js/controllers/reports.js')
        script(src='/js/filters.js')
        script(src='/js/directives.js')
        // This is needed because Facebook login redirects add #_=_ at the end of the URL
        script(type="text/javascript").
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
    body(data-ng-controller="AppCtrl", data-ng-cloak)
        #cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
        div.sp-container
            .navbar
                .navbar-inner
                    ul.nav
                        li(data-access-level='{{ accessLevels.anon }}', active-nav)
                            a(href='/login') 云杉习题
                        li(data-access-level='{{ accessLevels.anon }}', active-nav)
                            a(href='/register') 用户注册
                        li(data-access-level='{{ accessLevels.loggedin }}', active-nav)
                            a(href='/') Home
                        li(data-access-level='{{ accessLevels.loggedin }}', active-nav)
                            a(href='/private') Private
                        li(data-access-level='{{ accessLevels.superuser }}', active-nav)
                            a(href='/admin') Admin
                        li(data-access-level='{{ accessLevels.superuser }}', active-nav)
                            a(href='/user_admin') 学生管理
                        li(data-access-level='{{ accessLevels.superuser }}', active-nav).dropdown
                            a.dropdown-toggle 问题
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/problems') 编辑问题
                        li(data-access-level='{{ accessLevels.superuser }}', active-nav)
                            a(href='/reports') 成绩和报告
                        //-li(data-access-level='{{ accessLevels.loggedin }}')
                            a(href="", data-ng-click="logout()")
                                | Log out
                    div
                        p
                    div.pull-right.dropdown(data-access-level='{{accessLevels.loggedin}}')
                        a.dropdown-toggle {{ user.username }} &nbsp;
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="", data-ng-click="logout()")
                                    | 登出
            div.sp-body
                .container-fluid
                    div(data-ng-view='ng-view')
            div.footer
                .container.text-center(style="padding-top: 30px")
                    p &copy;
                        a(href="http://www.sprucelearning.com") 杉景教育科技
                        | &nbsp; 2013
            //-script(src='/js/widgets.js')