!!! 5
html(lang='en', data-ng-app='SpruceQuizApp')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title 云杉习题-新一代学习管理平台
        script(src="/lib/angular/angular.min.js")
        link(href='/lib/bootstrap/dist/css/bootstrap.min.css', rel="stylesheet", media='screen')
        link(href='/lib/bootstrap/dist/css/bootstrap-theme.min.css', rel="stylesheet")
        link(href='/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg', rel="stylesheet")
        link(href='/css/app-old.css', rel="stylesheet")
        link(href='/css/index.css', rel="stylesheet")
        link(href='/css/loginWidget.css', rel="stylesheet")

        // This is needed because Facebook login redirects add #_=_ at the end of the URL
        script(type="text/javascript").
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
    body(data-ng-controller="AppCtrl", data-ng-cloak)
        div.background
        #cover(data-ng-hide="appInitialized", data-ng-animate="{ hide: 'fade-hide' }")
        div.sp-container
            div(data-ng-view='ng-view')
            div.footer(data-access-level='{{ accessLevels.loggedin }}')
                .container.text-center(style="padding-top: 30px")
                    p &copy;
                        a(href="http://www.sprucelearning.com") SpruceLearning
                        | &nbsp; 2013

        //script(src='/views/partials/public/loginPageCtrl.js')
        script(src="/lib/angular-route/angular-route.js")
        script(src='/lib/angular-cookies/angular-cookies.js')
        script(src="/lib/angular-resource/angular-resource.js")
        script(src='/lib/underscore/underscore-min.js')
        script(src="/lib/angular-bootstrap/dist/ui-bootstrap-tpls-0.6.0-SNAPSHOT.min.js")
        //-this is just an adapter, not the lib itself.
        script(src='/lib/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
        script(src='/js/rolesHelper.js')
        script(src='/js/app.js')
        script(src='/js/services.js')
        script(src='/js/controllers.js')
        script(src='/js/controllers/problems.js')
        script(src='/js/controllers/problems_edit.js')
        script(src='/js/controllers/reports.js')
        script(src='/js/controllers/sections.js')
        script(src='/js/controllers/admin.js')
        script(src='/js/controllers/home.js')
        script(src='/js/services/resourceServices.js')
        script(src='/js/services/modelServices.js')
        script(src='/js/controllers/reports_viz_ctrl.js')
        script(src='/js/controllers/superadmin.js')
        script(src='/js/filters.js')
        script(src='/js/directives.js')
        script(src='/js/directives/d3/reports_viz.js')
        script(src='/js/directives/superadmin_dir.js')
        script(src='/lib/d3/d3.js')
        script(src='/lib/nvd3/nv.d3.js')
        link(rel='stylesheet', href='/css/lib/nvd3/nv.d3.sp.css')
        script(src='/js/data.js')
        script(src='/lib/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js')
        script(src='/lib/angular-placeholders/dist/placeholders-0.0.1-SNAPSHOT.min.js')


