
.container(style="width:900px;")
    .row(style='margin-top: 80px;')
            .row
                div.col-lg-10.col-lg-offset-1
                    div
                        //-div(collapse='!isCollapsed')
                        form.form-horizontal(ng-submit="login()", name="loginForm", role="form")
                            .form-group
                                label.sr-only User Name
                                div.col-lg-8.col-lg-offset-2
                                    input.form-control(type="text", data-ng-model="username",
                                    placeholder="在这里输入用户名", name="username", required)
                            .form-group
                                label.sr-only Password
                                div.col-lg-8.col-lg-offset-2
                                    input.form-control(type="password", data-ng-model="password",
                                    placeholder="在这里输入密码",name="password",required)
                            .form-group
                                div.text-center
                                    button.btn.btn-success(type="submit") Log in

                        .alert.alert-error(data-ng-bind="error", data-ng-show="error")
                    .text-center
                        a.btn.btn-success(data-ng-click='isCollapsed = !isCollapsed') 点击这里登录
                    p(style='margin-top: 20px;')
                        .text-center
                            a(href='/register') 现在注册！

    //-.row.marketing
        .col-md-6
        .col-md-6.text-center
            h3 为老师减轻负担，为学生提高效率
            p 将有限的人力资源用在更重要的地方
            p 完整的报告工具，让老师更快更好掌握学生情况
            p 减少重复，增加探索，扩展，和提高。

