doctype html5
html(lang='zh-CN', data-ng-app='SpruceQuizApp')
    head
        meta(charset='utf-8')
        meta(name="baidu-site-verification", content="FW2oTursHP")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{title || "难题夹子 - 与伙伴分享，一起挑战学术问题"}
    body
        block body

