extends layout
block body
    h1 难题夹子问题列表
    ol
        each question in questions
            li
                a.question(href="/questions/#{question.id}")
                    div 问题： #{question.title}
                    a(href='/p/#{question.author.username}') 作者: #{question.author.name}

