div.col-sm-11.col-sm-push-1.col-xs-10.col-xs-push-2
    h4.no-top-margin.bottom-margin
        b {{question.title}}
    //hr.low-margin
    div(ng-bind-html="Model.stripHtml(question.text, 90) + '......'")
.col-sm-1.col-sm-pull-11.col-xs-2.col-xs-pull-10.stat-box-container
    .rounded.bg-blue.stat-box(ng-class="{'bg-red':question.vote < 0 , 'bg-blue': question.vote > 0 }")
        h4.no-bottom-margin.text-center {{question.vote}}
        p.no-top-margin.text-center.small 投票
    .rounded.stat-box.appendix(ng-class="{'bg-grey':question.nAnswers <= 0 , 'bg-green': question.nAnswers > 0 }")
        p.no-bottom-margin.text-center.small {{question.nAnswers}}
        p.no-top-margin.text-center.small 回答

