@import "../../../css/mixins.less";

.flip {
  .perspective(800);
  position: relative;
  width: 100%;
  .card-container {
    .transform-style(preserve-3d);
    .transition(0.5s);

    .front, .back {
      width: 100%;
      position: absolute;
      .backface-visibility(hidden);
    }
    .front {
      z-index: 1;
//      .transform(translateZ(1px))
    }
    .back {
      .transform(translateZ(1px) rotatey(-180deg));
    }
  }
}

.flip.front {
  .card-container .front {
    position: relative;
  }
  .card-container .back {
    //we can inject a different one for each page in the element style.
    .transform(translateZ(1px) rotatey(-180deg) translateY(-155px));
  }
}

.flip.front.tall {
  .card-container .back {
    .transform(translateZ(1px) rotatey(-180deg) translateY(-240px));
  }
}

.flip.back {

  .card-container {
    .transform(rotatey(-180deg));

    .front {
      //    position: absolute;
          z-index: 1;
    }
    .back {
      //    display: block;
      //    z-index: -20;
      position: relative;
      .transform(rotatey(-180deg));
//      .transform(rotatey(-180deg) translateZ(1px));
    }
  }
}
